

<!-- Sidebar -->
<div class="span3 bs-docs-sidebar">
     <ul class="nav nav-list bs-docs-sidenav affix-top">
        <li ng-repeat="project in projects">
            个人相关信息
        </li>

        <li ng-repeat="project in projects">
		<a href='{%url 'set' %}'>我的信息</a>
        </li>
        <li ng-repeat="project in projects">
		<a href='{%url 'set_video_list' %}'>我的视频</a>
        </li>

        <li ng-repeat="project in projects">
		<a href='{%url 'set_question_list' %}'>我出的题</a>
        </li>
    </ul>

</div>
<!-- Sidebar ends -->

