
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
   <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
   <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
   <!--[if gt IE 8]><!--> <html lang="en" dir="ltr" class="no-js"> <!--<![endif]-->
  	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href='//fonts.googleapis.com/css?family=Terminal+Dosis:400,700|Francois+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/CACHE/css/e2b4cf9c4f3e.css" type="text/css" />
	<script type="text/javascript" src="/static/CACHE/js/dc0d27d54047.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/swfobject.js"></script>
	
<link type="application/rss+xml" rel="alternate" title="Latest Courses" href="/rss/courses/latest"/>
<link type="application/rss+xml" rel="alternate" title="Featured Courses" href="/rss/courses/featured"/>
<!-- Sass Stylesheets -->
<link rel="stylesheet" href="/static/stylesheets/teeksmarket.css" />

<link rel="stylesheet" href="/static/css/jquery-ui-1.8.19.tabs.css" />
<link href="/static/css/movingboxes.css" media="screen" rel="stylesheet">
<!--[if lt IE 9]>
<link href="/static/css/movingboxes-ie.css" rel="stylesheet" media="screen" />
<![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28408388-1']);
  _gaq.push(['_setDomainName', 'teeksforgeeks.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  _gaq.push(['b._setAccount', 'UA-29412808-1']);
  _gaq.push(['b._trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<title>
	Courses
 | TeeksForGeeks </title>
	
</head>

<body>
<div id="fb-root"></div>



<div id="general-box" class="center pam bold hidden" onclick="resetBox()"><span></span><a href="#" class="right mrl sTxt" onclick="resetBox()">Click to Close</a></div>
<div id="wrapper" class=" top-blue-border ">
   






<div id="header-index" class="container clearfix">
	<div class="row">
		<div class="six columns mvm">
			<a href="/" id="logo" class="five columns"><img width="181" height="52" src="/static/img/index-logo.png" alt="" /></a>
		</div>
		<div id="header-links" class="six columns">
			<div id="fb-like" class="three columns left fb-like index mts" data-href="https://www.facebook.com/teeksforgeeks" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true" data-font="arial"></div>
			<ul id="nav-index" class="four columns left clearfix sTxt pts mlm">
				<li class="left mrl">
					<a href="/courses" class="terminal_Txt thin">Courses</a>
				</li>
				<li id="login-link" class="left mhm">
					<a id="login" class="terminal_Txt rounded thin" href="/login/?next=/courses/free">Log in</a>
				</li>
			</ul>
			<div id="search-index" class="index left">
				<form action="/search/" method="get">
					<div class="placehold placehold-search-index rounded mbm">
						<span class="place-search-index"><span class="place-txt left">Search</span></span>
						<input type="text" class="search-index disabled" name="q" id="search-field" placeholder=""  autocomplete="off"/>
					</div>
				</form>
			</div><!--end of search -->
		</div>
	</div>
</div><!--end of header -->
<div id="long-gray-hr" class="shadow"></div>
 <!-- /header -->

        
    
	<script type="text/javascript">
  		var uvOptions = {};
    	(function() {
    		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/tiaTeJodP5bVmccUz4Iq2Q.js';
    	   	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  		})();
  	</script>
  	
    <div id="main" class="">
        
<div class="container">

<div class="row market-blankslate">
<div class="nine columns">
			<ul id="t4g-desc" class="terminal_Txt mlm">
				<p>
					<strong>Spend more time doing,</strong>
					Learning the web stack has never been easier.
				</p>
			</ul>
</div>
<div class="three columns">
			<a id="get-started" class="white right rounded" href="/signup/">
			<p class="mts mbn terminal_Txt bold">
				Get Started
			</p><em class="sTxt georgia_Txt">Two Clicks Away, Totally FREE!</em></a>
</div>
<hr class="sep mam"/>
</div>


<div class="container">
	<div class="row">
		<div class="four columns mtl">
			
			<h2 class="terminal_Txt llTxt bold light mbn">Popular Tags</h2>
			<hr class="sep mtn"></hr>
			<ul id="tags" class="clearfix">
				
				<li class="left mrm mbm"><a href="#" data-tag="web" class="tag pam bold sTxt">web<span class="right">25</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="mobile" class="tag pam bold sTxt">mobile<span class="right">11</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="android" class="tag pam bold sTxt">android<span class="right">8</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="os" class="tag pam bold sTxt">os<span class="right">7</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="linux" class="tag pam bold sTxt">linux<span class="right">6</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="dreamweaver" class="tag pam bold sTxt">dreamweaver<span class="right">5</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="javascript" class="tag pam bold sTxt">javascript<span class="right">4</span></a></li>
			    
				<li class="left mrm mbm"><a href="#" data-tag="css" class="tag pam bold sTxt">css<span class="right">3</span></a></li>
			    
			</ul><!-- end of popular tags -->
			
			
			<h2 class="terminal_Txt llTxt bold light mbn">Staff Picks</h2>
			<hr class="sep mtn"></hr>
			<ul id="staff-picks" class="light">
				
				<li class="media">
					<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/" class="img mrm mbs"><img class="rounded" src="//www.teeksforgeeks.com/fs/course/cde380fd/0a05/40f8/8ab7/690af27b340a_s.png" width="50" height="50" alt=""></a>
					<div class="bd">
						<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/" class="terminal_Txt tooltip" title="Practicing WordPress Installation on Ubuntu with LAMP">Practicing WordPress Installation on Ubu...</a>
						<br>
						<small class="mrs">By</small><a  href="/kim0/" class="light sTxt thin">Ahmed Kamal</a>
						
						<small class="right reviews mls">(2)</small>
						<div class="right mts rating _5_0"></div>
						
					</div>
					<hr class="light-dashed mls mvs" />
				</li>
				
				<li class="media">
					<a href="/asoliman/introduction-to-mercurial/" class="img mrm mbs"><img class="rounded" src="//www.teeksforgeeks.com/fs/course/6ec5b1cf/520d/4abf/b57b/bdbaf3bee5ed_s.png" width="50" height="50" alt=""></a>
					<div class="bd">
						<a href="/asoliman/introduction-to-mercurial/" class="terminal_Txt " title="">Introduction to Mercurial</a>
						<br>
						<small class="mrs">By</small><a  href="/asoliman/" class="light sTxt thin">Ahmed Soliman</a>
						
					</div>
					<hr class="light-dashed mls mvs" />
				</li>
				
				<li class="media">
					<a href="/PaulPaulito/lpi-linux-fundamentals-part-3-gnu-and-unix-commands/" class="img mrm mbs"><img class="rounded" src="//www.teeksforgeeks.com/fs/course/80a7e0e9/b26e/4cc7/9bf8/7e62d528f847_s.png" width="50" height="50" alt=""></a>
					<div class="bd">
						<a href="/PaulPaulito/lpi-linux-fundamentals-part-3-gnu-and-unix-commands/" class="terminal_Txt tooltip" title="LPI - Linux Fundamentals - Part 3: GNU and Unix Commands">LPI - Linux Fundamentals - Part 3: GNU a...</a>
						<br>
						<small class="mrs">By</small><a  href="/PaulPaulito/" class="light sTxt thin">PaulPaulito.com</a>
						
					</div>
					<hr class="light-dashed mls mvs" />
				</li>
				
				<li class="media">
					<a href="/PaulPaulito/lpi-linux-fundamentals-part-1-system-architecture/" class="img mrm mbs"><img class="rounded" src="//www.teeksforgeeks.com/fs/course/df66cbae/f720/4e64/8e0a/425ca7492d7d_s.png" width="50" height="50" alt=""></a>
					<div class="bd">
						<a href="/PaulPaulito/lpi-linux-fundamentals-part-1-system-architecture/" class="terminal_Txt tooltip" title="LPI - Linux Fundamentals - Part 1: System Architecture">LPI - Linux Fundamentals - Part 1: Syste...</a>
						<br>
						<small class="mrs">By</small><a  href="/PaulPaulito/" class="light sTxt thin">PaulPaulito.com</a>
						
					</div>
					<hr class="light-dashed mls mvs" />
				</li>
				
				<li class="media">
					<a href="/PicNet/introduction-to-javascript-development/" class="img mrm mbs"><img class="rounded" src="//www.teeksforgeeks.com/fs/course/d546cc26/df61/4955/8854/b39fa03aeaca_s.png" width="50" height="50" alt=""></a>
					<div class="bd">
						<a href="/PicNet/introduction-to-javascript-development/" class="terminal_Txt " title="">Introduction to JavaScript Development</a>
						<br>
						<small class="mrs">By</small><a  href="/PicNet/" class="light sTxt thin">PicNet</a>
						
					</div>
					<hr class="light-dashed mls mvs" />
				</li>
				
			</ul><!-- end of staff picks -->
			
			
			<h2 class="terminal_Txt llTxt bold light mbn">Featured Gurus</h2>
			<hr class="sep mtn"></hr>
			<ul id="gurus" class="clearfix center mbm plm">
				
				<li class="left mrs"><a href="/KillerSites/" class="tooltip" title="Stefan Mischook"><img src="//www.teeksforgeeks.com/fs/avatars/eebc77cd/93e3/4ecc/91df/6feb62ea9d17_l.png" width="75" height="75" alt="Stefan Mischook"></a></li>
				
				<li class="left mrs"><a href="/PaulPaulito/" class="tooltip" title="PaulPaulito.com"><img src="//www.teeksforgeeks.com/fs/avatars/40cd76b6/60f4/490a/8857/e31727995784_l.png" width="75" height="75" alt="PaulPaulito.com"></a></li>
				
				<li class="left mrs"><a href="/GoogleDevelopers/" class="tooltip" title="Google Developers"><img src="//www.teeksforgeeks.com/fs/avatars/b1c92851/df06/4707/9cbe/95bd677b8b3b_l.png" width="75" height="75" alt="Google Developers"></a></li>
				
			</ul>
			<!-- end of featured gurus -->
			<!-- <img class="mvl" src="/static/img/market-ad.png" width="347" height="182"> -->
		</div>
		<div class="eight columns mvl">
			<div id="tabs">
				<ul>
					<li><a href="#featured" class="terminal_Txt">Featured Courses</a></li>
					<li><a href="#premium" class="terminal_Txt">Premium Courses</a></li>
					<li><a href="#free" class="terminal_Txt">Free Courses</a></li>
					<li><a href="#latest" class="terminal_Txt">Latest Courses</a></li>
				</ul>
				<div id="featured" class="clearfix">
                  


<div class="courses" id='courses-list' data-current-page='1'>


<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/6ec5b1cf/520d/4abf/b57b/bdbaf3bee5ed_l.png" width="335" height="155" style="height:155px;">
				<a href="/asoliman/introduction-to-mercurial/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Mercurial is a cross-platform, distributed revision control tool for software developers. It is mainly implemented using the Python programming language, but includes a binary diff...
					</p>
					<strong class="teek">2 tutorials</strong>
					<br>
					
					<strong class="subscriber">125 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/asoliman/introduction-to-mercurial/"
					class="thin "
					title=""
				>
				Introduction to Mercurial
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/asoliman/" class="ssTxt thin left light">Ahmed Soliman</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			<div class="has-lab tooltip" title="CloudLab"></div>
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/cde380fd/0a05/40f8/8ab7/690af27b340a_l.png" width="335" height="155" style="height:155px;">
				<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course will teach you how to install WordPress server on Ubuntu machine using the command line interface. It will introduce the required packages to complete the installation ...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">42 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/"
					class="thin tooltip"
					title="Practicing WordPress Installation on Ubuntu with LAMP"
				>
				Practicing WordPress Installat...
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/kim0/" class="ssTxt thin left light">Ahmed Kamal</a>
				<!-- |truncatechars:15 -->
				
					<small class="right reviews mls">(2)</small>
					<div class="right mts rating _5_0"></div>
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>



</div>


                  <a class="left" href="/rss/courses/featured"><img src="/static/img/rss-orange.png"></a>
				</div>
				<div id="premium" class="clearfix">
                  


<div class="courses" id='courses-list' data-current-page='1'>


<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/80a7e0e9/b26e/4cc7/9bf8/7e62d528f847_l.png" width="335" height="155" style="height:155px;">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-3-gnu-and-unix-commands/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course aims to make you able to interact with shells and commands using the command line, assuming the bash shell. You should also be able to apply filters to text streams, us...
					</p>
					<strong class="teek">8 tutorials</strong>
					<br>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-3-gnu-and-unix-commands/"
					class="thin tooltip"
					title="LPI - Linux Fundamentals - Part 3: GNU and Unix Commands"
				>
				LPI - Linux Fundamentals - Par...
				</a>

			</h2>
			
			<span class="price bold right">$45.00<em class="ssTxt">/mo</em></span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/PaulPaulito/" class="ssTxt thin left light">PaulPaulito.com</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/df66cbae/f720/4e64/8e0a/425ca7492d7d_l.png" width="335" height="155" style="height:155px;">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-1-system-architecture/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						After this course, you should be able to determine and configure fundamental system hardware. You also should be able to guide the system through the booting process, manage the ru...
					</p>
					<strong class="teek">4 tutorials</strong>
					<br>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-1-system-architecture/"
					class="thin tooltip"
					title="LPI - Linux Fundamentals - Part 1: System Architecture"
				>
				LPI - Linux Fundamentals - Par...
				</a>

			</h2>
			
			<span class="price bold right">$24.00<em class="ssTxt">/mo</em></span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/PaulPaulito/" class="ssTxt thin left light">PaulPaulito.com</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>

<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/5fae9b7e/4809/4c6e/a375/a05bd1c46845_l.png" width="335" height="155" style="height:155px;">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-2-installation-and-package-management/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course aims to make you able to design a disk partitioning scheme for a Linux system, select, install and configure a boot manager, perform package management using the Debian...
					</p>
					<strong class="teek">5 tutorials</strong>
					<br>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-2-installation-and-package-management/"
					class="thin tooltip"
					title="LPI - Linux Fundamentals - Part 2: Installation and Package Management"
				>
				LPI - Linux Fundamentals - Par...
				</a>

			</h2>
			
			<span class="price bold right">$24.00<em class="ssTxt">/mo</em></span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/PaulPaulito/" class="ssTxt thin left light">PaulPaulito.com</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/20a46175/1a37/4a21/afaf/09e4a9e88546_l.png" width="335" height="155" style="height:155px;">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-4-devices-linux-filesystems-fhs/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course aims to make you able to configure disk partitions and then create filesystems on media such as hard disks, including the handling of swap partitions. You should also b...
					</p>
					<strong class="teek">7 tutorials</strong>
					<br>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/PaulPaulito/lpi-linux-fundamentals-part-4-devices-linux-filesystems-fhs/"
					class="thin tooltip"
					title="LPI - Linux Fundamentals - Part 4: Devices, Linux Filesystems, FHS"
				>
				LPI - Linux Fundamentals - Par...
				</a>

			</h2>
			
			<span class="price bold right">$24.60<em class="ssTxt">/mo</em></span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/PaulPaulito/" class="ssTxt thin left light">PaulPaulito.com</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>



</div>


                  <a class="left" href="/rss/courses/premium/"><img src="/static/img/rss-orange.png"></a>
				</div>
				<div id="latest" class="clearfix">
                  


<div class="courses" id='courses-list' data-current-page='1'>


<div class="row">
	<div class="columns six">
		<div class="course">
			
			<div class="has-lab tooltip" title="CloudLab"></div>
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/cde380fd/0a05/40f8/8ab7/690af27b340a_l.png" width="335" height="155" style="height:155px;">
				<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course will teach you how to install WordPress server on Ubuntu machine using the command line interface. It will introduce the required packages to complete the installation ...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">42 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/kim0/practicing-wordpress-installation-on-ubuntu-with-lamp/"
					class="thin tooltip"
					title="Practicing WordPress Installation on Ubuntu with LAMP"
				>
				Practicing WordPress Installat...
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/kim0/" class="ssTxt thin left light">Ahmed Kamal</a>
				<!-- |truncatechars:15 -->
				
					<small class="right reviews mls">(2)</small>
					<div class="right mts rating _5_0"></div>
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/51551ad6/3032/48fd/97f7/791623e95514_l.png" width="335" height="155" style="height:155px;">
				<a href="/NewThinkTank/introduction-to-sql/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course is a quick introduction to SQL. Explaining what a database is, what SQL is, what RDMS is. Showing how to create a table and explain every SQL data type. Going over the ...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">34 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/NewThinkTank/introduction-to-sql/"
					class="thin "
					title=""
				>
				Introduction to SQL
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/NewThinkTank/" class="ssTxt thin left light">Derek Banas</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>

<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/fde2a624/4195/4a0d/aa38/d56c68e1d2a7_l.png" width="335" height="155" style="height:155px;">
				<a href="/TimothyTraining/css-fundamentals-with-dreamweaver-cs5-part-1/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						In this course, you will learn CSS fundamentals using Dreamweaver. You will know about CSS selectors, colors, fonts, comments, box model, images, and formatting data tables. The co...
					</p>
					<strong class="teek">6 tutorials</strong>
					<br>
					
					<strong class="subscriber">38 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/TimothyTraining/css-fundamentals-with-dreamweaver-cs5-part-1/"
					class="thin tooltip"
					title="CSS Fundamentals with Dreamweaver CS5 - Part 1"
				>
				CSS Fundamentals with Dreamwea...
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/TimothyTraining/" class="ssTxt thin left light">Timothy Training</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/5d3ad241/2565/4b2d/8208/4d91dbe3ae0b_l.png" width="335" height="155" style="height:155px;">
				<a href="/KillerSites/jquery-for-beginners/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Learning jQuery will make it easy for you to create all kinds of cool DOM and Ajax effects with very little effort. Beyond the canned menus and effects, jQuery also makes it easier...
					</p>
					<strong class="teek">2 tutorials</strong>
					<br>
					
					<strong class="subscriber">32 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/KillerSites/jquery-for-beginners/"
					class="thin "
					title=""
				>
				jQuery for Beginners
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/KillerSites/" class="ssTxt thin left light">Stefan Mischook</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>

<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/7eea012a/0692/49d7/a3e9/ae0758e28bb7_l.png" width="335" height="155" style="height:155px;">
				<a href="/KillerSites/javascript-for-beginners/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This cpurse is designed to teach JavaScript programming to absolute beginners. By the end of the course, you will feel comfortable reading and writing usable JavaScript code for ev...
					</p>
					<strong class="teek">6 tutorials</strong>
					<br>
					
					<strong class="subscriber">56 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/KillerSites/javascript-for-beginners/"
					class="thin "
					title=""
				>
				JavasScript for Beginners
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/KillerSites/" class="ssTxt thin left light">Stefan Mischook</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/bdc5247d/ff87/41f0/abd2/038faad19569_l.png" width="335" height="155" style="height:155px;">
				<a href="/NathanNeil/visual-basic-the-basics/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Visual Basic .NET (VB.NET), is an object-oriented computer programming language that can be viewed as an evolution of the classic Visual Basic (VB), which is implemented on the .NE...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">9 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/NathanNeil/visual-basic-the-basics/"
					class="thin "
					title=""
				>
				Visual Basic - The Basics
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/NathanNeil/" class="ssTxt thin left light">Nathan Neil</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>



</div>

<div id="latest-paginator" class="tabs-pagination right light sTxt bold">
	<div class="widget right">
		<ul>
			<li class="prv">
				<a class="not-active" href="#"></a>
			</li>
			<li class="nxt">
				<a class="" href="#"></a>
			</li>
		</ul>
	</div>
	<span class="right mrm">1/9</span>
</div>


                   <a class="left" href="/rss/courses/latest"><img src="/static/img/rss-orange.png"></a>
				</div>
				<div id="free" class="clearfix">
                  


<div class="courses" id='courses-list' data-current-page='1'>


<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/51551ad6/3032/48fd/97f7/791623e95514_l.png" width="335" height="155" style="height:155px;">
				<a href="/NewThinkTank/introduction-to-sql/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This course is a quick introduction to SQL. Explaining what a database is, what SQL is, what RDMS is. Showing how to create a table and explain every SQL data type. Going over the ...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">34 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/NewThinkTank/introduction-to-sql/"
					class="thin "
					title=""
				>
				Introduction to SQL
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/NewThinkTank/" class="ssTxt thin left light">Derek Banas</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/fde2a624/4195/4a0d/aa38/d56c68e1d2a7_l.png" width="335" height="155" style="height:155px;">
				<a href="/TimothyTraining/css-fundamentals-with-dreamweaver-cs5-part-1/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						In this course, you will learn CSS fundamentals using Dreamweaver. You will know about CSS selectors, colors, fonts, comments, box model, images, and formatting data tables. The co...
					</p>
					<strong class="teek">6 tutorials</strong>
					<br>
					
					<strong class="subscriber">38 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/TimothyTraining/css-fundamentals-with-dreamweaver-cs5-part-1/"
					class="thin tooltip"
					title="CSS Fundamentals with Dreamweaver CS5 - Part 1"
				>
				CSS Fundamentals with Dreamwea...
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/TimothyTraining/" class="ssTxt thin left light">Timothy Training</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>

<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/5d3ad241/2565/4b2d/8208/4d91dbe3ae0b_l.png" width="335" height="155" style="height:155px;">
				<a href="/KillerSites/jquery-for-beginners/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Learning jQuery will make it easy for you to create all kinds of cool DOM and Ajax effects with very little effort. Beyond the canned menus and effects, jQuery also makes it easier...
					</p>
					<strong class="teek">2 tutorials</strong>
					<br>
					
					<strong class="subscriber">32 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/KillerSites/jquery-for-beginners/"
					class="thin "
					title=""
				>
				jQuery for Beginners
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/KillerSites/" class="ssTxt thin left light">Stefan Mischook</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/7eea012a/0692/49d7/a3e9/ae0758e28bb7_l.png" width="335" height="155" style="height:155px;">
				<a href="/KillerSites/javascript-for-beginners/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						This cpurse is designed to teach JavaScript programming to absolute beginners. By the end of the course, you will feel comfortable reading and writing usable JavaScript code for ev...
					</p>
					<strong class="teek">6 tutorials</strong>
					<br>
					
					<strong class="subscriber">56 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/KillerSites/javascript-for-beginners/"
					class="thin "
					title=""
				>
				JavasScript for Beginners
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/KillerSites/" class="ssTxt thin left light">Stefan Mischook</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>

<div class="row">
	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/bdc5247d/ff87/41f0/abd2/038faad19569_l.png" width="335" height="155" style="height:155px;">
				<a href="/NathanNeil/visual-basic-the-basics/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Visual Basic .NET (VB.NET), is an object-oriented computer programming language that can be viewed as an evolution of the classic Visual Basic (VB), which is implemented on the .NE...
					</p>
					<strong class="teek">1 tutorial</strong>
					<br>
					
					<strong class="subscriber">9 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/NathanNeil/visual-basic-the-basics/"
					class="thin "
					title=""
				>
				Visual Basic - The Basics
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/NathanNeil/" class="ssTxt thin left light">Nathan Neil</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	


	<div class="columns six">
		<div class="course">
			
			
			<div class="hover-block">
				<img class="course-image rounded" src="//www.teeksforgeeks.com/fs/course/0f5412eb/47e5/44ed/b023/389f0bcc3a7e_l.png" width="335" height="155" style="height:155px;">
				<a href="/TheNewBoston/introduction-to-objective-c-programming-part-1/" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						Objective-C is a reflective, object-oriented programming language that adds Smalltalk-style messaging to the C programming language. This course introduces the basics of Objective-...
					</p>
					<strong class="teek">8 tutorials</strong>
					<br>
					
					<strong class="subscriber">29 subscriptions</strong>
					
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/TheNewBoston/introduction-to-objective-c-programming-part-1/"
					class="thin tooltip"
					title="Introduction to Objective-C Programming - Part 1"
				>
				Introduction to Objective-C Pr...
				</a>

			</h2>
			
			<span class="price bold right"> Free </span>
			
			<div id="info" class="info-meta light left row">
				<small class="ssTxt mrs left">By</small><a href="/TheNewBoston/" class="ssTxt thin left light">Bucky Roberts</a>
				<!-- |truncatechars:15 -->
				
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
	</div>



</div>

<div id="free-paginator" class="tabs-pagination right light sTxt bold">
	<div class="widget right">
		<ul>
			<li class="prv">
				<a class="not-active" href="#"></a>
			</li>
			<li class="nxt">
				<a class="" href="#"></a>
			</li>
		</ul>
	</div>
	<span class="right mrm">1/8</span>
</div>


                  <a class="left" href="/rss/courses/free/"><img src="/static/img/rss-orange.png"></a>
				</div>
			</div><!-- end of tabs -->
		</div>
	</div>
</div>

    </div>
</div>

<div id="footer-wrapper" class="gray ptl">
	<div class="container">
	<div class="row">
		<div id="footer" class="container_12 clearfix">
			<div class="row">
				<div class="grid_3 alpha three columns mbm center">
					<img src="/static/img/t4g-footer.png" class="mtl" width="158" height="157" alt="TeeksForGeeks" />
				</div>
				<div class="grid_9 omega nine columns">
						<dl class="grid_3 alpha four columns">
							<dt class="italic llTxt georgia_Txt pvm">Noteworthy Stuff</dt>
							<dd class="mts"><a href="/courses/featured">Featured Courses</a></dd>
							<dd class="mts"><a href="/courses/latest">Latest Courses</a></dd>
							<dd class="mts"><a href="/courses">Find a Course</a></dd>
							<dd class="mts"><a href="/upload-teek/">Upload Courses</a></dd>
						</dl>
					<dl class="grid_3 alpha four columns">
						<dt class="italic llTxt georgia_Txt pvm">TeeksForGeeks</dt>
						<dd class="mts"><a href="/about/">What's TeeksForGeeks?</a></dd>
						<dd class="mts"><a href="http://blog.teeksforgeeks.com">Blog</a></dd>
						<dd class="mts"><a href="/terms/">Terms and Conditions</a></dd>
						<dd class="mts"><a href="/privacy/">Privacy Policy</a></dd>
						<dd class="mts"><a href="javascript:UserVoice.showPopupWidget();">Support</a></dd>
					</dl>
					<dl id="footer-social" class="grid_3 alpha four columns">
						<dt class="italic llTxt georgia_Txt pvm">Follow us on</dt>
						<dd class="mts"><a href="http://www.facebook.com/teeksforgeeks" class="facebook">Facebook</a></dd>
						<dd class="mts"><a href="http://www.twitter.com/teeksforgeeks" class="twitter">Twitter</a></dd>
						<dd class="mts"><a href="http://www.youtube.com/user/TeeksForGeeks" class="youtube">YouTube</a></dd>
						<dd class="mts"><a href="http://www.pinterest.com/teeksforgeeks" class="pintrest">Pinterest</a></dd>
						<dd class="mts"><a href="http://www.linkedin.com/pub/teeks-for-geeks/47/32a/493" class="LinkedIn">LinkedIn</a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	
	
        <p id="teek_copyright" class="container_12 light copyrights pvs mbn georgia_Txt">
	        <div class="row">
	            &copy; 2012 <a id="teek_footer_home" href="http://www.cloud9ers.com">Cloud Niners Ltd.</a>
	        </div>
        </p>
    </div>
</div>
    <!-- footer -->
	
	
	<script type="text/x-jquery-tmpl" id="results-geeks">
		
		{{if members.length}}
		
		<a href=""><h4  data-url="/search/?q=${text}&cat=geeks" class="mTxt mbs">Geeks</h4></a>
		
		{{each members}}
		<a>
            <div class="media geek-res" data-url="${url}">
                <img width="25" height="25" class="img" src="${avatar}" alt="" /><span class="bd pll pts light">{{html name}}</span>
            </div>
        </a>
        {{/each}}
        {{/if}}
        {%raw%}
        {{if units.length}}
        
        <a href=""><h4 data-url="/search/?q=${text}&cat=teeks" class="mTxt mbs">Courses</h4></a>
        
        {{each units}}
		<a>
        <div class="media teek-res" data-url="${url}">
            <img height="56" width="75" class="img" src="${avatar}" alt=" thumbnail" />
            <div class="bd plm light">
                <p class="mbn">
                    {{html name}}
                </p>
                <p>
                   	By: <strong class="cblue">${author_name}</strong>
                </p>
                
            </div>
        </div>
    </a>
    {{/each}}
    {{/if}}
		
    <a href="#"><p class="bold mbn" data-url="/search/?q=${text}&cat=geeks">more</p></a>
	</script>
    
	<script type="text/x-jquery-tmpl" id="results-teeks">
		
        {{if units.length}}
        
        <a href=""><h4 data-url="/search/?q=${text}&cat=teeks" class="mTxt mbs">Courses</h4></a>
        
        {{each units}}
		<a>
        <div class="media teek-res" data-url="${url}">
            <img class="img" src="${avatar}" height="56" width="75" alt=" thumbnail" />
            <div class="bd plm light">
                <p class="mbn">
                    {{html name}}
                </p>
                <p>
                   	By: <strong class="cblue">${author_name}</strong>
                </p>
                
            </div>
        </div>
    </a>
    {{/each}}
    {{/if}}
		{{if members.length}}
		
		<a href=""><h4  data-url="/search/?q=${text}&cat=geeks" class="mTxt mbs">Geeks</h4></a>
		 
		{{each members}}
		<a>
            <div class="media geek-res" data-url="${url}">
                <img width="25" height="25" class="img" src="${avatar}" alt="" /><span class="bd pll pts light">{{html name}}</span>
            </div>
        </a>
        {{/each}}
        {{/if}}
		
    	<a href="#"><p class="bold mbn" data-url="/search/?q=${text}&cat=teeks">more</p></a>
	</script>
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script type="text/javascript" src="/static/CACHE/js/bc1c6eb8feed.js"></script>
	<script type="text/javascript" src="/static/js/scratchboard.js"></script>
	<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript">

    function placeholder()
	{
	var textboxes = $('[placeholder]');
    textboxes.each(function(index, input){
        var label = $('.place-txt');
        label.animate({opacity: 0.6}, 0);
        if (index == 0) {
            setInterval(function(){
                textboxes.each(function(index, inputX){
                    if (inputX.value != "") {
                        $(this).prev().find(label).animate({
                            opacity: 0
                        }, 0);
                    }
                });
            }, 100);
        }
        input.onfocus = function(){
            if (input.value == "") {
                $(this).prev().find(label).animate({
                    opacity: 0.2
                }, 200)
            }
        }
        input.onblur = function(){
            if (input.value == "") {
                $(this).prev().find(label).animate({
                    opacity: 0.6 }, 200)
            }
        }
        
    });
	}
</script>
		
		



	<script id="msgs-template" type="text/x-handlebars-template">
        {{#this}}
        <li msg-data="{{id}}" class={{#if unread}}highlight{{/if}}>
            <a href="{{#ifequal type 1}}/messages#/inbox/{{else}}/messages#/questions/{{/ifequal}}{{id}}" class="pas">
                <div class="media">
                    <img height="25" width="25" class="img mrm" src="{{#if username}}/{{username}}/avatar/small{{else}}/static/avatars/default_s.png{{/if}}" alt="{{name}}" />
                    <div class="bd">
                        <div class="media">
                            <small class="imgExt timestamp light thin">
                                <abbr class="timeago" title="{{timestamp}}">
                                    {{timestamp}}
                                </abbr>
                            </small>
                            <div class="bd">
                                <p class="author mbn {{#if unread}}normal{{else}}light{{/if}}">
                                    {{name}}
                                </p>
                                <p class="subject mbn sTxt thin {{#if unread}}normal{{else}}light{{/if}}">
                                    {{subject}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {{/this}}
    </script>



<script id="nots-template" type="text/x-handlebars-template">
        {{#this}}
        <li>
            <a href="{{target.url}}" class="pvs">
                <div class="media">
                    <img class="img mrm" height="25" width="25" src="/{{sender.username}}/avatar/small" alt="" />
                    <div class="bd">
                        <div class="media">
                            <small class="imgExt timestamp light thin">
                                <abbr class="timeago" title="{{date}}">
                                    {{date}}
                                </abbr>
                            </small>
                            <div class="bd">
                                <p class="author mbn">
                                    {{sender.name}}
                                </p>
                                <p class="subject mbn sTxt thin normal">
                                    {{action}}  {{target.text}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {{/this}}
</script>


	<script type="text/javascript">
		jQuery(document).ready(function() {
			$("abbr.timeago").timeago();
			$('.followers .geek-avatar, .tooltip').tipsy({gravity:'s', live: true , html: true , opacity: 0.8});
			$('.tooltip-n').tipsy({gravity:'nw', live: true , html: true , opacity: 0.8});
			$('#course-contains').tipsy({gravity:'s', live: true, opacity: 0.8});
			$('.act.sendmsg').tipsy({gravity:'s', live: true, opacity: 0.8});
			$(document.body).click (function(e){
						hideOpenMenus();
				});
				$(document).keyup(function(e) {
					 if (e.keyCode == 27) { hideOpenMenus(); }   // esc
				});
			
			   });
		placeholder();
	</script>
	
	<script type="text/javascript">
	//Hide welcome effect
	$('#hide_welcome').click(function(e){
       $.ajax({
        type: 'POST',
        url: "/aj/hide-welcome/",
        success: function(response){
		          $('#blank-slate').fadeOut(1000);
            },
        });
		e.preventDefault();
	});
</script>
	
	
	
<script src="/static/js/backbone.paginator.js"></script>
<script src="/static/js/jquery.movingboxes.min.js"></script>
<script src="/static/js/teeks-market.js"></script>
<script id="courses-template" type="text/x-handlebars-template">

{{#t4geach courses}}
{{{cycle "<div class='row'>" "" index}}}
	<div class="columns six">
		<div class="course">
			{{#if context.info.is_new}}<div class="new"></div>{{/if}}
			{{#if context.has_cloudlab}}<div class="has-lab tooltip" title="CloudLab"></div>{{/if}}
			<div class="hover-block">
				<img class="course-image rounded" src="/{{context.id}}/course-photo/large" width="335" height="155" style="height:155px;">
				<a href="/{{context.owner.username}}/{{context.slug}}" class="thin show-on-desktops">
				<div class="course-info sTxt phm ptm">
					<p>
						{{truncate 180 context.info.description}}
					</p>
					<strong class="teek">{{context.versioned_toc.length}} tutorial{{pluralize context.versioned_toc}}</strong>
					<br>
					{{#if context.registered_members}}
					<strong class="subscriber">{{context.registered_members.length}} subscription{{pluralize context.registered_members}}</strong>  
					{{/if}}
				</div> </a>
			</div><!-- end of hover block -->
			<h2 id="course-name" class="mTxt thin left mbn">
				<a href="/{{context.owner.username}}/{{context.slug}}" 
				class="thin {{#ifgt context.info.title.length 30}}tooltip{{/ifgt}}" title="{{#ifgt context.info.title.length 30}}{{context.info.title}}{{/ifgt}}">{{truncate 30 context.info.title}}
				</a>
			</h2>
			<span class="price bold right">{{#if context.is_free}}Free{{else}}${{context.integer_price}}.{{context.fraction_price}}{{/if}}</span>
			<div id="info" class="info-meta light left row">
				<small class="mrs left">By</small><a href="/{{context.owner.username}}" class="ssTxt thin left light">{{context.owner.name}}</a>
				<!-- |truncatechars:15 -->
				{{#if context.reviewers_count}}
					<small class="right reviews mls">({{context.reviewers_count}})</small>
					<div class="right mts rating {{context.rating_css_class}}"></div>
				{{/if}}
			</div>
		</div><!-- end of course -->
		<hr class="light-sep" />
	</div>
{{{cycle "" "</div>" index}}}
{{/t4geach}}

</script>
<script id="pagination-template" type="text/x-handlebars-template">

<div class="widget right">
		<ul>
			<li class="prv">
				<a class="not-active" href="#"></a>
			</li>
			<li class="nxt">
				<a class="" href="#"></a>
			</li>
		</ul>
</div>
<span class="right mrm">{{page}}/{{totalPages}}</span>
</script>

<script type="text/javascript">
	
		
	
</script>

	<script type="text/javascript">
	$(document).ready(function() {
  		$('.no-js').removeClass('no-js');
	});
		document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
	</script>


	</body>
</html>
