
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
   <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
   <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
   <!--[if gt IE 8]><!--> <html lang="en" dir="ltr" class="no-js"> <!--<![endif]-->
  	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href='//fonts.googleapis.com/css?family=Terminal+Dosis:400,700|Francois+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/teeksCSS/CACHE/css/e2b4cf9c4f3e.css" type="text/css" />
	<script type="text/javascript" src="/static/teeksCSS/CACHE/js/dc0d27d54047.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/swfobject.js"></script>
	
	<meta name="description" content="">
	<meta property="og:title" content=""/>
	<meta property="og:type" content="product"/>
    <meta property="og:url" content="http://www.teeksforgeeks.com/GoogleDevelopers/googles-python-class/"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="TeeksForGeeks"/>
    <meta property="og:description" content=""/>
	<link type="application/rss+xml" rel="alternate" title="Latest Courses" href="/rss/courses/latest"/>
	<link type="application/rss+xml" rel="alternate" title="Featured Courses" href="/rss/courses/featured"/>

<link rel="stylesheet" href="/static/teeksCSS/csscoursepage.css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28408388-1']);
  _gaq.push(['_setDomainName', 'teeksforgeeks.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  _gaq.push(['b._setAccount', 'UA-29412808-1']);
  _gaq.push(['b._trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<title>
	Google&#39;s Python Class
 | TeeksForGeeks </title>
	
</head>

<body>
<div id="fb-root"></div>



<div id="general-box" class="center pam bold hidden" onclick="resetBox()"><span></span><a href="#" class="right mrl sTxt" onclick="resetBox()">Click to Close</a></div>
<div id="wrapper" class=" top-blue-border ">
   






<div id="header-index" class="container clearfix">
	<div class="row">
		<div class="six columns mvm">
			<a href="/" id="logo" class="five columns"><img width="181" height="52" src="/static/teeksCSS/img/index-logo.png" alt="" /></a>
		</div>
		<div id="header-links" class="six columns">
			<div id="fb-like" class="three columns left fb-like index mts" data-href="https://www.facebook.com/teeksforgeeks" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true" data-font="arial"></div>
			<ul id="nav-index" class="four columns left clearfix sTxt pts mlm">
				<li class="left mrl">
					<a href="/courses" class="terminal_Txt thin">Courses</a>
				</li>
				<li id="login-link" class="left mhm">
					<a id="login" class="terminal_Txt rounded thin" href="/login/?next=/GoogleDevelopers/googles-python-class/">Log in</a>
				</li>
			</ul>
			<div id="search-index" class="index left">
				<form action="/search/" method="get">
					<div class="placehold placehold-search-index rounded mbm">
						<span class="place-search-index"><span class="place-txt left">Search</span></span>
						<input type="text" class="search-index disabled" name="q" id="search-field" placeholder=""  autocomplete="off"/>
					</div>
				</form>
			</div><!--end of search -->
		</div>
	</div>
</div><!--end of header -->
<div id="long-gray-hr" class="shadow"></div>
 <!-- /header -->

        
    
	<script type="text/javascript">
  		var uvOptions = {};
    	(function() {
    		var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      		uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/tiaTeJodP5bVmccUz4Iq2Q.js';
    	   	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  		})();
  	</script>
  	
    <div id="main" class="">
        
<div id="bundle-top">
	<br class="mvn"/>
	<div class="container">
		<div class="row">
			<div class="seven columns">
					<div class="black"><nav>
	<ul id="breadcrumb-nav" class="mvm clearfix">
		<li id="home" class="left mts clearfix"><a href="/" class="thin sTxt plm"></a></li>
		
			<li class="left mrs mls clearfix">
				
					<a href="/courses" class="thin sTxt plm">Courses</a>
				
			</li>
		
			<li class="left mrs mls clearfix">
				
					<span class="thin sTxt plm">Google&#39;s Python Class</span>
				
			</li>
		
	</ul>
</nav></div>
					<div class="mbm">
						<div id="no-flash" class="mvm terminal_Txt center thin">
							<h3>You need to install <a target="_blank"  href="http://adobe.com/go/getflashplayer">Adobe Flash Player</a> to play this video.</h3>
						</div> 
						<div id="course-snapshot">
							<div class="">
								<img src="//www.teeksforgeeks.com/fs/course/23145d02/4db4/42ec/91a6/931a57ae7f75_xl.png" width="650" height="325">
								<img id="play-video" src="/static/teeksCSS/img/t4g-video-play.png" width="72" height="72">
							</div>
						</div>
					</div>
			</div>
			<div class="five columns wTxt">
				<h1 id="course-name" class="francois_Txt "><a href="">Google&#39;s Python Class</a></h1>
				<ul id="lang" class="clearfix left"><li class="left mrm ssTxt bold">English</li></ul>
				
				<div class="tooltip right" title="Rated 1 times">
					<span class="right light ssTxt mls reviews-count rounded phs bold">1</span>
					<div class="mts right rating _3_0"></div>
				</div>
				
				<hr class="sep mbn" />
				<ul id="course-summary" class="sTxt bold left mvl row">
					<li class="courseinfo-teeks-number mbs left mrl">7 tutorials
					</li>
					
					
				</ul>
				<div class="row left mbm">
				
					 
					<div class="left columns six">
						<div id="subscription" class="mrm clearfix">
							<a id="subscribe-tut" href="/aj/course/join-course/free" class="subscribe-tut terminal_Txt phm clearfix" onclick="return loaded;" data-price="0" data-bundle-id="4fe72890f55c074205005a93">
							<div id="subscribe" class="left mts">Subscribe</div>
							<div id="price" class="right bold relative mtm">						
							
								Free
							
							</div>
							<br />
							<div class="left sTxt thin mbs italic">Start studying now</div>
							</a>
						</div>
					</div>
					 
				
				
				<div  id="subscribers" class="columns six clearfix right mln">
					<span class="sTxt mlm">Also subscribed</span>
					<ul class="clearfix mbn">
					
						<li class="left mrs">
							<a href="/khanellzero/">
							<img src="/static/teeksCSS/avatars/default_s.png" width="25" height="25" title="khanel">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/aboelfetouh_/">
							<img src="//www.teeksforgeeks.com/fs/avatars/a9798983/755b/4d80/9c44/2f3d46a5968b_s.png" width="25" height="25" title="Mohamed Aboelfetouh">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/narendra_l/">
							<img src="/static/teeksCSS/avatars/default_s.png" width="25" height="25" title="Narendra L">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/dac/">
							<img src="/static/teeksCSS/avatars/default_s.png" width="25" height="25" title="David">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/mohamed/">
							<img src="//www.teeksforgeeks.com/fs/avatars/5279a16b/9d7c/4ae2/9b6b/1b3cefe0d9dd_s.png" width="25" height="25" title="Mohamed El-Zalabany">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/basma_eladawy/">
							<img src="//www.teeksforgeeks.com/fs/avatars/ddd3ad63/45f4/4774/88f9/fb9ada6bd4df_s.png" width="25" height="25" title="Basma Eladawy">
							</a>
						</li>
					
						<li class="left mrs">
							<a href="/suranovi/">
							<img src="//www.teeksforgeeks.com/fs/avatars/d1fbb9bb/83f6/41ac/ad08/03fb220db801_s.png" width="25" height="25" title="Eluzai Perdomo">
							</a>
						</li>
					
					</ul>
					
					<a id="more-subscribers" href="/aj/teeks/4fe72890f55c074205005a93/geeks" class="sTxt right thin">and 144 others</a>
					
				</div>
				
				</div>
				<div id="badges" class="row left">
					<ul class="clearfix mbn">
					
					<a href="/badges-n-belts/"><li class="badges-attractive-badge" title="Attractive"></li></a>
					
					<a href="/badges-n-belts/"><li class="badges-noteworthy-badge" title="Noteworthy"></li></a>
					
					</ul>
				</div><!-- end of badges-->
				<div id="social" class="left row">
					<a class="add-favourite left mrl" data-bundle-id=4fe72890f55c074205005a93 href="#"></a>
					<div class="right addthis_toolbox addthis_default_style mll" style="margin-top: 3px;">
						<a class="addthis_button_facebook_like" fb:like:layout="button_count" style="width:80px;"></a>
						<a class="addthis_button_tweet" style="width:85px;"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium" style="width:70px;"></a>
						<a class="addthis_counter addthis_pill_style" style="width:55px;"></a>
					</div>
				</div><!-- end of social -->
			</div>
		</div>
	</div><!-- end of container -->
</div><!-- End bundle top -->
<div id="gray-shadow" class="mbm"></div><!-- End gray shadow -->
<div class="container mbl">
	<div class="row">
			<div class="seven columns">
				<p id="course-description" class="justify">This course suits people with a little bit of programming experience who want to learn Python. The course is geared for people who have a little bit of programming experience in some language, enough to know what a &#39;variable&#39; or an &#39;if statement&#39; is. Beyond that, you do not need to be an expert programmer to subscribe.</p>
				<ul id="tags" class="mbl pll sTxt clearfix">
					
						<li class="left mrs"><a href="/courses/tags/python" class="thin">python</a>, </li>
					
						<li class="left mrs"><a href="/courses/tags/web" class="thin">web</a></li>
					
				</ul>
				
				<span id="checkbox" class="clearfix left"><input type="checkbox" id="select-all" checked="checked"></span>
				
				<h3 class="terminal_Txt llTxt bold light mbn mrs left">Tutorials</h3>
				<br class="mvs"/>
				<div id="accordion">
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c425e7a783ea800004b" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python Introduction and String</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 1 Part 1:Introduction and Strings. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Introduction</p><span class="sTxt right mts mrl">51min</span></dd><hr/>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-quiz"><p>Python Strings Quiz</p><span class="sTxt right mts mrl">5min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c435e7a783ea8000073" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python Lists, Sorting, and Tuples</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 1 Part 2:Lists, Sorting, and Tuples. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Lists, Sorting and Tuples</p><span class="sTxt right mts mrl">35min</span></dd><hr/>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-quiz"><p>Python Lists, Sorting, and Tuples Quiz</p><span class="sTxt right mts mrl">8min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c425e7a783ea8000028" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python :- Dicts and Files</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 1 Part 3:Dicts and Files. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Dicts and Files</p><span class="sTxt right mts mrl">28min</span></dd><hr/>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-quiz"><p>Python Quiz</p><span class="sTxt right mts mrl">9min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c435e7a783ea800007d" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python Regular Expressions</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 2 Part 1:Regular Expressions. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Regular Expressions</p><span class="sTxt right mts mrl">42min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c435e7a783ea8000083" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python Utilities</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 2 Part 2:Utilities: OS and Commands. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Utilities</p><span class="sTxt right mts mrl">20min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c435e7a783ea8000089" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Python Utilities urllib</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 2 Part 3: Utilities: URLs and HTTP, Exceptions. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Utilities urllib</p><span class="sTxt right mts mrl">25min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
					<div class="row accordion-container clearfix shadow mts" data-teek-id="4f1c5c425e7a783ea8000003" data-teek-price=0>
						
							
								<span class="left mtm mls"><input type="checkbox" value=""></span>
							
							<h3 class="mvm mrm clearfix"><a href="#" class="terminal_Txt llTxt normal thin columns nine mln">Conclusions of Google Python Class</a>
								<em class="mTxt thin light Droid_Txt right mts">
									
										<span class="green_Txt">Free</span>
									
								</em>
							</h3>
					<div>
						<hr class="sep mtn"></hr>
						<dl class="teek-content mhl light mTxt mbl">
							<dt class="light">Google Python Class Day 2 Part 4:Closing Thoughts. By Nick Parlante.</dt>
							
								<dd class="terminal_Txt row plm mlm accordion-unit-video"><p>Python :- Conclusions</p><span class="sTxt right mts mrl">11min</span></dd><hr/>
							
						</dl>
					</div>
					</div>
				
				</div>
				
				<a id="subscribe-tut-small" href="/aj/course/join-course/free" data-bundle-id="4fe72890f55c074205005a93" class="subscribe-tut rounded terminal_Txt bold mbl">Subscribe to tutorials</a>
				<em class="light Droid_Txt sTxt">(selected only)</em>
				<em id="bundle-total-price" class="right light Droid_Txt mrs lTxt">Total: $<span id="total-price">0.00</span><span class="sTxt">/mo</span></em>
				<div class="fb-comments mtl" data-href="http://www.teeksforgeeks.com/GoogleDevelopers/googles-python-class/" data-num-posts="5" data-width="649"></div>
				
			</div>
			<div id="course-info" class="five columns clearfix">
				<div class="row left">
					<span class="light llTxt bold terminal_Txt">Instructor</span>
						<ul id="istructors" class="left phm rounded justify">
						
							<li class="media mvm">
								<a href="/GoogleDevelopers/">
									<img class="img mrm circle" src="//www.teeksforgeeks.com/fs/avatars/b1c92851/df06/4707/9cbe/95bd677b8b3b_m.png" width="55px" height="55px" />
								</a>
								<div class="bd">
									<a id="first-owner" class="llTxt terminal_Txt thin" href="/GoogleDevelopers/">Google Developers</a>
									<div class="sTxt justify">
										
											<p id='bio-less'>We are Google engineers who love development. Through Google Code, we want to share knowledge about development in general, and we hope that some of these videos are useful. Google Code is Google&#39;s site for ...
												
													<a href='#' class='bio-show-more thin mls'>
														more...
													</a>
												
											</p>
											<p id='bio-more' class="hidden">
												We are Google engineers who love development. Through Google Code, we want to share knowledge about development in general, and we hope that some of these videos are useful. Google Code is Google&#39;s site for developer tools, APIs and technic
											</p>
										
									</div>
								</div>
							</li>
						
						</ul>
				</div>
				<div class="row left">
				
					<h3 id="reviews" class="terminal_Txt llTxt bold light left mbl mrs">Reviews</h3>
					<span class="sTxt left reviews-count pvs phm mts">1</span>
				
				
				
					<ul class="row left clearfix">
					
						<li class="mbm clearfix review-item">
							<div class="media columns seven">
								<img class="img mrs mlm" src="//www.teeksforgeeks.com/fs/avatars/938098ef/7150/4035/9c47/123885151785_s.png" width="25px" height="25px" />
								<div class="bd">
									<a class="sTxt reviewer" href="/tabdulradi/">Tamer Abdul-Radi</a>
									<em class="ssTxt light">Dec. 15, 2012, 3:17 p.m.</em>
								</div>
							</div>
							<div class="right rating _3_0"></div>
							<p id='' class="review-less review left sTxt pls pvs mtm mln columns twelve longTxt">This course is very goof, especially the regex part
								
								</p>
								<p id='' class="review-more hidden review left sTxt pls pvs mtm mln columns twelve">
									This course is very goof, especially the regex part
							</p>
						</li>
					
					</ul> 
				
				</div><!-- end of reviews -->
			</div>
	</div><!-- End page container -->
</div>

    </div>
</div>

<div id="footer-wrapper" class="gray ptl">
	<div class="container">
	<div class="row">
		<div id="footer" class="container_12 clearfix">
			<div class="row">
				<div class="grid_3 alpha three columns mbm center">
					<img src="/static/teeksCSS/img/t4g-footer.png" class="mtl" width="158" height="157" alt="TeeksForGeeks" />
				</div>
				<div class="grid_9 omega nine columns">
						<dl class="grid_3 alpha four columns">
							<dt class="italic llTxt georgia_Txt pvm">Noteworthy Stuff</dt>
							<dd class="mts"><a href="/courses/featured">Featured Courses</a></dd>
							<dd class="mts"><a href="/courses/latest">Latest Courses</a></dd>
							<dd class="mts"><a href="/courses">Find a Course</a></dd>
							<dd class="mts"><a href="/upload-teek/">Upload Courses</a></dd>
						</dl>
					<dl class="grid_3 alpha four columns">
						<dt class="italic llTxt georgia_Txt pvm">TeeksForGeeks</dt>
						<dd class="mts"><a href="/about/">What's TeeksForGeeks?</a></dd>
						<dd class="mts"><a href="http://blog.teeksforgeeks.com">Blog</a></dd>
						<dd class="mts"><a href="/terms/">Terms and Conditions</a></dd>
						<dd class="mts"><a href="/privacy/">Privacy Policy</a></dd>
						<dd class="mts"><a href="javascript:UserVoice.showPopupWidget();">Support</a></dd>
					</dl>
					<dl id="footer-social" class="grid_3 alpha four columns">
						<dt class="italic llTxt georgia_Txt pvm">Follow us on</dt>
						<dd class="mts"><a href="http://www.facebook.com/teeksforgeeks" class="facebook">Facebook</a></dd>
						<dd class="mts"><a href="http://www.twitter.com/teeksforgeeks" class="twitter">Twitter</a></dd>
						<dd class="mts"><a href="http://www.youtube.com/user/TeeksForGeeks" class="youtube">YouTube</a></dd>
						<dd class="mts"><a href="http://www.pinterest.com/teeksforgeeks" class="pintrest">Pinterest</a></dd>
						<dd class="mts"><a href="http://www.linkedin.com/pub/teeks-for-geeks/47/32a/493" class="LinkedIn">LinkedIn</a></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	
	
        <p id="teek_copyright" class="container_12 light copyrights pvs mbn georgia_Txt">
	        <div class="row">
	            &copy; 2012 <a id="teek_footer_home" href="http://www.cloud9ers.com">Cloud Niners Ltd.</a>
	        </div>
        </p>
    </div>
</div>
    
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script type="text/javascript" src="/static/teeksCSS/CACHE/js/bc1c6eb8feed.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/scratchboard.js"></script>
	<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript">

    function placeholder()
	{
	var textboxes = $('[placeholder]');
    textboxes.each(function(index, input){
        var label = $('.place-txt');
        label.animate({opacity: 0.6}, 0);
        if (index == 0) {
            setInterval(function(){
                textboxes.each(function(index, inputX){
                    if (inputX.value != "") {
                        $(this).prev().find(label).animate({
                            opacity: 0
                        }, 0);
                    }
                });
            }, 100);
        }
        input.onfocus = function(){
            if (input.value == "") {
                $(this).prev().find(label).animate({
                    opacity: 0.2
                }, 200)
            }
        }
        input.onblur = function(){
            if (input.value == "") {
                $(this).prev().find(label).animate({
                    opacity: 0.6 }, 200)
            }
        }
        
    });
	}
</script>
		
		



	<script type="text/javascript">
		jQuery(document).ready(function() {
			$("abbr.timeago").timeago();
			$('.followers .geek-avatar, .tooltip').tipsy({gravity:'s', live: true , html: true , opacity: 0.8});
			$('.tooltip-n').tipsy({gravity:'nw', live: true , html: true , opacity: 0.8});
			$('#course-contains').tipsy({gravity:'s', live: true, opacity: 0.8});
			$('.act.sendmsg').tipsy({gravity:'s', live: true, opacity: 0.8});
			$(document.body).click (function(e){
						hideOpenMenus();
				});
				$(document).keyup(function(e) {
					 if (e.keyCode == 27) { hideOpenMenus(); }   // esc
				});
			
			   });
		placeholder();
	</script>
	
	<script type="text/javascript">
	//Hide welcome effect
	$('#hide_welcome').click(function(e){
       $.ajax({
        type: 'POST',
        url: "/aj/hide-welcome/",
        success: function(response){
		          $('#blank-slate').fadeOut(1000);
            },
        });
		e.preventDefault();
	});
</script>
	
	
	
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fa1131d5b25f97e"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/jquery-ui-accordion.min.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/jquery.raty.min.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/charCount.js"></script>
	<script type="text/javascript" src="/static/teeksCSS/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript">
	$('.add-review').fancybox({
		scrolling: 'no',
		transitionIn : 'elastic',
		transitionOut : 'elastic',
		padding : 10,
		margin : 0,
		onComplete : function(){
			$('#test').raty({
				path : '/static/teeksCSS//img',
				start: old_rating
			});
			$('#add-review-content').charCount({
               allowed: 1000
           });
		}
	});
	$('#review-form').live('submit', function(e){
		var contents = $('#add-review-content').val();
		var rating = $('#test-score').val();
		var errors = false;
		if (rating == "") {
			$('#add-review-error').text("Please rate this teek").show();
			errors = true;
		}
		if (!errors && contents.length == 0) {
			$('#add-review-error').text("Cannot submit an empty review").show();
			errors = true;
		}
		
		if (!errors  && contents.length > 1000) {
			$('#add-review-error').text("Review exceeded the maximum character limit of 1000").show();
			errors = true;
		}
		if (errors) {
			resetSubmit('#review-form');
			e.preventDefault();
			return;
		}
		 $.ajax({
		 	      type: "POST",
				  url: "/aj/course/add-review/",
				  data: {
				  	     'unit_id':$('#course-id').val(),
						 'content':contents,
						 'rating':rating
						},
				  beforeSend: function(request){
						$('#addreview').attr("disabled", true).text("loading...");
						$('#addreview').before('<img id="spin" src="/static/teeksCSS//img/ajax-loader.gif" alt="loading" height="16" width="16" class="left mtm mrs"/>');
						},
					 	success: function(response){
					 		$('#addreview').attr("disabled", false);
							$('#spin').remove();
							$('#review-form').html('Thank you. Your review has been submitted successfully.');
							setTimeout('window.location.reload()', 1500);
					 	}, 
						error: function(response){
							$('#addreview').attr("disabled", false);
							$('#spin').remove();
							var error_message = "";											
							var error_type = $.parseJSON(response.responseText).error;
							if (error_type=="norating"){
								error_message = "Please rate this course";
							}
							if (error_type=="empty_content"){
								error_message = "Cannot submit an empty review";
							}
							if (error_type=="exceeded_content"){
								error_message = 'Review exceeded the maximum character limit of 1000';
							}
							$('#review-form').html(error_message);
						}
		 });
		e.preventDefault();
	});
	$('.cancel').find('a').live('click', function(e){
		$.fancybox.close();
		e.preventDefault();
	});
</script>
<script type="text/javascript">
	$('#course-snapshot').live('click', function(e) {
           $(this).parent().addClass('flex-video');

           '<iframe id="t4g-video-iframe" height="311" width="551" src="http://www.youtube.com/embed/NfEzlRUWrGs?hd=1&autoplay=1" frameborder="0" allowfullscreen></iframe>'

            swfobject.embedSWF("http://www.youtube.com/v/IcteAbMC1Ok?autoplay=1&enablejsapi=1&playerapiid=ytplayer&version=3&hd=1&fs=1&amp",
                       "course-snapshot", "650", "200", "10.1", null, null, {allowScriptAccess: "always", allowFullScreen: "true", wmode:"transparent"});
			e.preventDefault();
		});
</script>
<script type="text/javascript" src="/static/teeksCSS/js/flash_detect.js"></script>
<script type="text/javascript"> 
	if(!FlashDetect.installed){
		$('#course-snapshot').css('display', 'none');
		$('#no-flash').css('display', 'block');
	}
</script>
<script src="/static/teeksCSS/js/coursepage.js"></script>


<script type="text/javascript">
	
		
	
</script>

	<script type="text/javascript">
	$(document).ready(function() {
  		$('.no-js').removeClass('no-js');
	});
		document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
	</script>


	</body>
</html>
