<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify页面</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory引用bootstrap-->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/unifyCSS/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/unifyCSS/css/style.css">
    <link rel="stylesheet" href="/static/unifyCSS/css/header1.css">
    <link rel="stylesheet" href="/static/unifyCSS/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/unifyCSS/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins添加插件 -->    
    <link rel="stylesheet" href="/static/unifyCSS/css/font-awesome.css">
    <link rel="stylesheet" href="/static/unifyCSS/css/flexslider.css" type="text/css" media="screen">    	
    <link rel="stylesheet" href="/static/unifyCSS/css/parallax-slider.css" type="text/css">
    <!-- CSS Theme样式 -->    
    <link rel="stylesheet" href="/static/unifyCSS/css/default.css" id="style_color">
    <link rel="stylesheet" href="/static/unifyCSS/css/default.css" id="style_color-header-1">    
</head>	

<body>
<!--=== Style Switcher ===-->    
<i class="style-switcher-btn icon-cogs"></i>
<div class="style-switcher">
    <div class="theme-close"><i class="icon-remove"></i></div>
    <div class="theme-heading">页面颜色选择</div>
    <ul class="unstyled">
        <li class="theme-default theme-active" data-style="default" data-header="light"></li>
        <li class="theme-blue" data-style="blue" data-header="light"></li>
        <li class="theme-orange" data-style="orange" data-header="light"></li>
        <li class="theme-red" data-style="red" data-header="light"></li>
        <li class="theme-light" data-style="light" data-header="light"></li>
    </ul>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->    

<!--=== Top头 ===-->  
<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
                <ul class="nav-list">
                    <li class="active"><a href="#">中文</a> <i class="icon-ok"></i></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Russian</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </li>   
            <li class="devider">&nbsp;</li>
            <li><a href="page_faq.html" class="login-btn">注册</a></li>  
            <li class="devider">&nbsp;</li>
            <li><a href="page_login.html" class="login-btn">登录</a></li>   
        </ul>
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    

<!--=== Header头信息开始 ===-->
<div class="header">               
    <div class="container"> 
        <!-- Logo      
        <div class="logo">                                             
            <a href="index.html"><img id="logo-header" src="assets/img/logo1-default.png" alt="Logo"></a>
        </div> /logo -->        
                                    
        <!-- Menu -->       
        <div class="navbar">                                
            <div class="navbar-inner">                                  
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->                                  
                <div class="nav-collapse collapse">                                     
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">主页
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="index.html">pyhton课程页</a></li>
                                <li><a href="page_home.html">django课程页</a></li>
                                <li><a href="page_home4.html">linux基础课程页</a></li>
                                <li><a href="page_home5.html">linux嵌入式课程页</a></li>
                                <li><a href="page_home1.html">MIT等国外视频页</a></li>
                                <li><a href="page_home2.html">web开发综合页</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">课程
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_about.html">python基础</a></li>
                                <li><a href="page_services.html">django框架</a></li>
                                <li><a href="page_pricing.html">uliweb/xadmin模块</a></li>
                                <li><a href="page_coming_soon.html">linux基础</a></li>
                                <li><a href="page_faq.html">ubuntu使用</a></li>
                                <li><a href="page_search.html">linux嵌入式</a></li>
                                <li><a href="page_gallery.html">web开发综合</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">学习
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="feature_grid.html">python区</a></li>
                                <li><a href="feature_typography.html">uliweb区</a></li>
                                <li><a href="feature_thumbnail.html">django区</a></li>
                                <li><a href="feature_component.html">linux区</a></li>
								<li><a href="feature_navigation.html">web开发区</a></li>
                                <li><a href="feature_navigation.html">语音留言区</a></li>
                                <li><a href="feature_table.html">FAQs问答</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">资讯
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio.html">最新公开课</a></li>
                                <li><a href="portfolio_item.html">软件资讯</a></li>
                                <li><a href="portfolio_2columns.html">就业信息</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">论坛
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">pyhton学习交流区</a></li>
                                <li><a href="blog_item.html">django等框架区</a></li>
                                <li><a href="blog_left_sidebar.html">linux基础区</a></li>
                                <li><a href="blog_item_left_sidebar.html">linux嵌入式开发区</a></li>
								<li><a href="blog_item_left_sidebar.html">web开发综合区</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们
                                <b class="caret"></b>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_contact.html">联系方式</a></li>
                                <li><a href="page_contact1.html">google地图查看</a></li>
                            </ul>
                            <b class="caret-out"></b>                        
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>                               
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form>
                                <input type="text" class="span3" placeholder="输入查找信息..." />
                                <button type="submit" class="btn-u">搜索</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->                                
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
</div><!--/header -->      
<!--=== End Header头信息结束 ===-->

<!--=== Slider轮播页面===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>精简 &amp; 优雅的语言结构</i> <br /> <i>易学的python语言基础</i> <br /> <i>快捷方便的django框架</i></h2>
            <p><i>web敏捷开发</i> <br /> <i>网络爬虫数据分析</i> <br /> <i>搜索开发的最佳语言 </i></p>
            <div class="da-img"><img src="/static/unifyCSS/django.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>精深严谨的Liunx硬件开发</i> <br /> <i>命令行shell编程的本源</i> <br /> <i>web服务器配置</i></h2>
            <p><i>linux专业级程序开发</i> <br /> <i>linux嵌入式与linux内核虚拟化开发</i></p>
            <div class="da-img span6">
            	<div class="span6">
					<iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
 				</div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML/CSS</i></h2>
            <p><i>使用python，django，github，bootstrap....</i> <br /> <i>等web开发最新技术</i> <br /> <i>优雅开发美观新潮的网站 </i></p>
            <div class="da-img"><img src="/static/unifyCSS/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider轮播结束 ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>编程公园——精于编程，乐于分享</span>
            <p>本网站由jeapedu创建，致力于python开发学习视频，django开发学习视频，linux开发学习视频和linux嵌入式开发等视频集聚，用于交流学习。为广大学友提供MIT或TED等国外技术网站相关学习视频讲解分解以及代码分析，手把手带您学习编程</p>
        </div>
        <a href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697" class="btn-buy hover-effect">开始学习+</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== 正文开始Content Part ===-->
<div class="container">	
	<!-- 三个模块开始 -->
	<div class="row-fluid">
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-laptop"></i>
    			<div class="desc">
    				<h4>精简优雅的python</h4>
                    <p>python作为最流行的面向对象脚本语言，在linux系统，google，baidu搜索以及爬虫数据分享领域作用不可或缺，语言精简优雅，web开发爬虫分析的不二之选...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-cloud-upload"></i>
    			<div class="desc">
    				<h4>HTML + CSS + bootstrap</h4>
                    <p>使用uliweb，django，CSS，js，pyhton等web开发技术开发网站，使用最新技术进行敏捷开发，使得web网站开发更快捷方便简单，网站风格更新潮美观...</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-random"></i>
    			<div class="desc">
    				<h4>linux嵌入式开发</h4>
                    <p>具备扎实C语言基础的学生才能进入的学习领域，精深严谨的Liunx硬件开发，各种硬件设备kenerl内核开发，带您进入计算机开发领域最精深的领域...</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-fluid-->
	<!-- //End Service Blokcs -->

	<!-- 最新视频 -->
	<div class="headline"><h3>最新视频:</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/unifyCSS/img/2.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">点击观看+</a>					
                </div>
                <h3><a class="hover-effect" href="#">django install开发环境安装</a></h3>
                <p>本课程在于教授如何在不同OS开发环境安装django以及版本注意事项等</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/unifyCSS/img/3.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">点击观看+</a>					
                </div>
                <h3><a class="hover-effect" href="#">django auth模块使用</a></h3>
                <p>本课程在于介绍django 自带模块auth用户验证注册登录等方法如何使用和注意事项.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/unifyCSS/img/9.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">点击观看+</a>					
                </div>
                <h3><a class="hover-effect" href="#">django urls和views讲解</a></h3>
                <p>本课程在于介绍django urls和views如何使用和注意事项</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/unifyCSS/img/10.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <h3><a class="hover-effect" href="#">使用django内置admin模块</a></h3>
                <p>本视频在于介绍django内置admin模块并教授相关的使用方法和注意事项</p>
            </div>
        </li>
    </ul>
	<!-- //End 最新视频 -->
    
	<!-- 左侧说明信息 -->
	<div class="row-fluid margin-bottom-20">
		<div class="span8">
			<div class="headline"><h3>欢迎加入编程公园：</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="/static/unifyCSS/img/team-3.jpg" alt="" />编程公园致力于python开发，django开发，linux开发和linux嵌入式开发等视频集聚，用于交流学习。为广大学友提供MIT或TED等国外技术网站学习视频讲解以及代码分析讲解</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> linux基础课程，linux嵌入式，liunux内核</li>
            	<li><i class="icon-ok color-green"></i> web网络通讯，html，css，bootstrap</li>
            	<li><i class="icon-ok color-green"></i> python语言，github，weibo</li>
            	<li><i class="icon-ok color-green"></i> django框架，uliweb框架，xadmin模块</li>
            </ul><br>

            <blockquote class="hero-unify">
                <p>Time the study pain is temporary, has not learned the pain is life-long.</p>
                <small>学习时的苦痛是暂时的，而未学到的痛苦是终身的。</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Information Blokcs最新课程-->
        <div class="span4">
			<div class="headline"><h3>最新课程：</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/static/unifyCSS/img/google_pythonbig.png" alt="">
                    <div class="carousel-caption">
                      <p>python基础以及django项目开发课程</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/static/unifyCSS/img/linuxbig.png" alt="">
                    <div class="carousel-caption">
                      <p>linux基础以及linux嵌入式开发课程</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/static/unifyCSS/img/webdesignbig.png" alt="">
                    <div class="carousel-caption">
                      <p>web网站建设与web维护综合课程</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->

	<!-- 合作伙伴 -->
	<div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>合作伙伴</h3></div>	
		<ul class="slides">
			<li>
                <a href="#">
                    <img src="/static/unifyCSS/img/hp_grey.png" alt="" /> 
                    <img src="/static/unifyCSS/img/hp.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/igneus_grey.png" alt="" /> 
                    <img src="assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/vadafone_grey.png" alt="" /> 
                    <img src="assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/walmart_grey.png" alt="" /> 
                    <img src="assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" /> 
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" /> 
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/aztec_grey.png" alt="" /> 
                    <img src="assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="/static/unifyCSS/img/gamescast_grey.png" alt="" /> 
                    <img src="/static/unifyCSS/img/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="/static/unifyCSS/img/cisco_grey.png" alt="" /> 
                    <img src="/static/unifyCSS/img/cisco.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" /> 
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/cocacola_grey.png" alt="" /> 
                    <img src="assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" /> 
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" /> 
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" /> 
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
		</ul>
	</div><!--/flexslider-->
	<!-- //End Our parterns合作伙伴结束 -->
</div><!--/container-->		
<!-- body正文完结End Content Part -->

<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
                <!-- 关于本网站 -->
		        <div class="headline"><h3>关于本网站：</h3></div>	
				<p class="margin-bottom-25">
网站开发本着来源于互联网，反馈互联网的精神，本网站开发资源来源于互联网。采用开源软件python语言，django框架，bootstrap+font awesome样式开发，网站用于IT技术学习交流。<br>编程公园致力于python开发，django开发，linux开发和linux嵌入式开发等视频集聚，用于交流学习。为广大学友提供MIT或TED等国外技术网站学习视频讲解以及代码分析讲解。</p>	

	            <!-- 大事件发布 -->
		        <div class="headline"><h3>大事件发布：</h3></div>	
				<p>最新大师级公开课信息，敬请期待～</p>
				<form class="form-inline">
					<div class="input-append">
						<input type="text" placeholder="Email Address" class="input-medium">
						<button class="btn-u">提交</button>
					</div>
				</form>							
			</div><!--/span4-->	
			<!--==欢迎新同学-->
			<div class="span4">
                <div class="posts">
                    <div class="headline"><h3>欢迎新同学：</h3></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/static/unifyCSS/img/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">大力芝麻 7分钟前学习了python课程
							<br/>共有20000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/unifyCSS/img/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">luka 16分钟前学习了django课程
								<br/>共有10000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/unifyCSS/img/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">nifanki 22分钟前学习了linux课程
							<br/>共有8000人在学习此课程</a></p> 
                        </dd>
                    </dl>
					<dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/unifyCSS/img/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">fancyking 29分钟前学习了python课程
								<br/>共有19823人在学习此课程</a></p> 
                        </dd>
                    </dl>
                </div>
			</div><!--/span4-->
		<!--==end新加入同学-->
<!--==关于我们-->
			<div class="span4">
		        <div class="headline"><h3>关于我们：</h3></div>	
                <address>
					jeapedu智普教育 <br />
					北京市海淀区上地八维一校区，综合办公楼C区2，二层227室（爱心第二幼儿园院内） <br />
					中国，北京市 <br />
					Phone: +86 18010096001 <br />
					QQ : 张老师：1941847311 <br />
					Email: <a href="mailto:market@jeapedu.com" class="">market@jeapedu.com</a>
                </address>
<!--==end关于我们-->
                <!-- 开发资源联系我们Stay Connected -->
		        <div class="headline"><h3>找到我们：</h3></div>	
                <ul class="social-icons">
                    <li><a href="#" data-original-title="github" class="social_rss"></a></li>
					<li><i class="icon-github">github </i></li>
					<li><i class="icon-pinterest-sign">github	</i></li>
                    <li><a href="#" data-original-title="Facebook"><i class="icon-github">github </i></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                </ul>
			</div><!--/span4-->
		</div><!--/row-fluid-->	
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== 开发者权益Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row-fluid">
			<div class="span8">						
	            <p>2013 &copy; 本网站由jeapedu智普教育开发，使用保留开发者权益 <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
			</div>
			<div class="span4">	
				<a href="index.html"><img id="logo-footer" src="/static/unifyCSS/img/logojeapedu.png" class="pull-right" alt="" /></a>
			</div>
		</div><!--/row-fluid-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/static/unifyCSS/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/unifyCSS/js/modernizr.custom.js"></script>		
<script type="text/javascript" src="/static/unifyCSS/js/bootstrap.min.js"></script>	
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="/static/unifyCSS/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/static/unifyCSS/js/modernizr.js"></script>
<script type="text/javascript" src="/static/unifyCSS/js/jquery.cslider.js"></script> 
<script type="text/javascript" src="/static/unifyCSS/js/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/unifyCSS/js/app.js"></script>
<script type="text/javascript" src="/static/unifyCSS/js/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="/static/unifyCSS/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29166220-1']);
  _gaq.push(['_setDomainName', 'htmlstream.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!--==topcontrol向上按钮-->
<div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;"><img src="/static/unifyCSS/img/back_to_top_green.gif" style="width:51px; height:42px"></div>
<!--/topcontrol-->
</body>
</html>	
