{%include "setting/settinghead.html"%}

<body>


	<div class="page-content">
		<!-- ==page header -->
		<div class="page-header">
			<h1>
				FAQ <small> <i class="icon-double-angle-right"></i>
					网站基本信息问题反馈
				</small>
			</h1>
		</div>
		<!-- /.page-header end-->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="tabbable">
					<ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
						<li class="active"><a data-toggle="tab" href="#faq-tab-1">
								<i class="blue icon-question-sign bigger-120"></i> 基本问题
						</a></li>

						<li><a data-toggle="tab" href="#faq-tab-2"> <i
								class="green icon-user bigger-120"></i> 用户设置
						</a></li>

						<li><a data-toggle="tab" href="#faq-tab-3"> <i
								class="orange icon-credit-card bigger-120"></i> 表单设置
						</a></li>
						<li><a data-toggle="tab" href="#faq-tab-4"> <i
								class="purple icon-magic bigger-120"></i> 其他设置
						</a></li>
						<!-- /.dropdown -->
					</ul>

					<div class="tab-content no-border padding-24">
						<div id="faq-tab-1" class="tab-pane fade in active">
							<h4 class="blue">
								<i class="icon-ok bigger-110"></i> 基本设置
							</h4>

							<div class="space-8"></div>

							<div id="faq-list-1"
								class="panel-group accordion-style1 accordion-style2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-1-1" data-parent="#faq-list-1"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-left pull-right"
											data-icon-hide="icon-chevron-down"
											data-icon-show="icon-chevron-left"></i> <i
											class="icon-user bigger-130"></i> &nbsp; 首选项界面作用是什么?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-1-1">
										<div class="panel-body">
											首选项界面显示用户基本的信息，如视频内容，视频点击次数等基本信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-1-2" data-parent="#faq-list-1"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-left pull-right"
											data-icon-hide="icon-chevron-down"
											data-icon-show="icon-chevron-left"></i> <i
											class="icon-sort-by-attributes-alt"></i> &nbsp; 如何更改用户设置?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-1-2">
										<div class="panel-body">
											<div id="faq-list-nested-1"
												class="panel-group accordion-style1 accordion-style2">
												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-list-1-sub-1"
															data-parent="#faq-list-nested-1" data-toggle="collapse"
															class="accordion-toggle collapsed"> <i
															class="icon-plus smaller-80 middle"
															data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
															&nbsp; 如何查看评论站内信等信息?
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-list-1-sub-1">
														<div class="panel-body">主界面消息浮动框可以查看评论站内信等信息</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-list-1-sub-2"
															data-parent="#faq-list-nested-1" data-toggle="collapse"
															class="accordion-toggle collapsed"> <i
															class="icon-plus smaller-80 middle"
															data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
															&nbsp;如何查看具体栏目信息？
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-list-1-sub-2">
														<div class="panel-body">
															左侧快捷栏（可以点击最下面箭头缩放）点击可以具体查看栏目信息</div>
													</div>
												</div>

												<div class="panel panel-default">
													<div class="panel-heading">
														<a href="#faq-list-1-sub-3"
															data-parent="#faq-list-nested-1" data-toggle="collapse"
															class="accordion-toggle collapsed"> <i
															class="icon-plus smaller-80 middle"
															data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
															&nbsp; 绿色提示条作用是什么？
														</a>
													</div>

													<div class="panel-collapse collapse" id="faq-list-1-sub-3">
														<div class="panel-body">
															绿色导航条用户提示具体操作信息，提示在前，可以提示比较酷的功能</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-1-3" data-parent="#faq-list-1"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-left pull-right"
											data-icon-hide="icon-chevron-down"
											data-icon-show="icon-chevron-left"></i> <i
											class="icon-credit-card bigger-130"></i> &nbsp; 用户如何查看自己是否登录？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-1-3">
										<div class="panel-body">
											右侧用户头像点击可以进行下拉菜单设置，分别是设置，查看个人信息，登出</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-1-4" data-parent="#faq-list-1"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-left pull-right"
											data-icon-hide="icon-chevron-down"
											data-icon-show="icon-chevron-left"></i> <i
											class="icon-copy bigger-130"></i> &nbsp; 如何查看最新用户活动?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-1-4">
										<div class="panel-body">主页界面页面可以查看最新活动如评论，任务等的下拉列表具体信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-1-5" data-parent="#faq-list-1"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-left pull-right"
											data-icon-hide="icon-chevron-down"
											data-icon-show="icon-chevron-left"></i> <i
											class="icon-cog bigger-130"></i> &nbsp; 如何查看最新用户讨论信息?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-1-5">
										<div class="panel-body">
											主页界面页面可以查看最新的a讨论信息，信息以下拉列表的形式展现，方便用户查看</div>
									</div>
								</div>
							</div>
						</div>
						<!-- #==基本设置 end -->

						<div id="faq-tab-2" class="tab-pane fade">
							<h4 class="blue">
								<i class="green icon-user bigger-110"></i> 用户设置
							</h4>

							<div class="space-8"></div>

							<div id="faq-list-2"
								class="panel-group accordion-style1 accordion-style2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-2-1" data-parent="#faq-list-2"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-right smaller-80"
											data-icon-hide="icon-chevron-down align-top"
											data-icon-show="icon-chevron-right"></i> &nbsp; 如何更改查看个人信息?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-2-1">
										<div class="panel-body">
											在右侧界面头像点击可以更改设置和用户信息。可以点击左侧用户设置查看更改个人信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-2-2" data-parent="#faq-list-2"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-right smaller-80"
											data-icon-hide="icon-chevron-down align-top"
											data-icon-show="icon-chevron-right"></i> &nbsp;图像应当如何设置?
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-2-2">
										<div class="panel-body">
											在个人设置页面可以点击头像更改用户头像，尝试下这个比较酷的功能把</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-2-3" data-parent="#faq-list-2"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-right middle smaller-80"
											data-icon-hide="icon-chevron-down align-top"
											data-icon-show="icon-chevron-right"></i>
											&nbsp;地址，年龄，用户名应该怎么设置？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-2-3">
										<div class="panel-body">
											点击地址，年龄，用户名可以进行相应更改，点击选择1,2,3选项中3,可以重新设置账户信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-2-4" data-parent="#faq-list-2"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-chevron-right smaller-80"
											data-icon-hide="icon-chevron-down align-top"
											data-icon-show="icon-chevron-right"></i> &nbsp;用户行为如何查看？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-2-4">
										<div class="panel-body">
											个人信息主界面点击后就可以查看用户相应信息，用户最近的操作行为以可以以列表展现的形式呈现</div>
									</div>
								</div>
							</div>
						</div>

						<div id="faq-tab-3" class="tab-pane fade">
							<h4 class="blue">
								<i class="orange icon-credit-card bigger-110"></i> 表单设置
							</h4>

							<div class="space-8"></div>

							<div id="faq-list-3"
								class="panel-group accordion-style1 accordion-style2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-3-1" data-parent="#faq-list-3"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 如何更改查看用户上传的视频信息？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-3-1">
										<div class="panel-body">
											点击表单设置可以查看以树状图展现的用户设置的目录结构，点击可以具体查看分类信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-3-2" data-parent="#faq-list-3"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 视频操作如何完成？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-3-2">
										<div class="panel-body">
											点击tabs可以查看所有基本信息，点击量，时间等等，用户可以更删改查具体视频信息</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-3-3" data-parent="#faq-list-3"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 如何快速展现调整上传视频信息的查看方式？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-3-3">
										<div class="panel-body">
											用户视频信息以jquery展示的方式可以呈现，用户可以点击具体条目信息，进行逆序，排序查看</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-3-4" data-parent="#faq-list-3"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp;可以设置视频信息是否隐藏？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-3-4">
										<div class="panel-body">
											可以查看视频信息的status状态信息，查看视频状态，是否停用，是否停止</div>
									</div>
								</div>
							</div>
						</div>
						<!-- #表单设置end -->
						<div id="faq-tab-4" class="tab-pane fade">
							<h4 class="blue">
								<i class="purple icon-magic bigger-110"></i> 其他设置
							</h4>

							<div class="space-8"></div>

							<div id="faq-list-4"
								class="panel-group accordion-style1 accordion-style2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-4-1" data-parent="#faq-list-4"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 网站bug提交地址？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-4-1">
										<div class="panel-body">
											网站建设难以做到完美无缺，如发现bug，请提交marketing@jeap.com.cn</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-4-2" data-parent="#faq-list-4"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 网站功能建议提交地址？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-4-2">
										<div class="panel-body">
											网站功能不尽完善，欢迎提交marketing@jeap.com.cn反馈您的真知灼见</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-4-3" data-parent="#faq-list-4"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp; 网站后台模板来源与优化？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-4-3">
										<div class="panel-body">
											网站后台使用bootstrap后台页面管理的ace框架,在此一并致敬，更多信息可以搜索bootstrap官网</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="#faq-4-4" data-parent="#faq-list-4"
											data-toggle="collapse" class="accordion-toggle collapsed">
											<i class="icon-plus smaller-80" data-icon-hide="icon-minus"
											data-icon-show="icon-plus"></i> &nbsp;更多信息？
										</a>
									</div>

									<div class="panel-collapse collapse" id="faq-4-4">
										<div class="panel-body">
											欢迎提交marketing@jeap.com.cn反馈您的真知灼见</div>
									</div>
								</div>
							</div>
						</div>
						<!-- #其他设置end -->
					</div>

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-content -->

	<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn"
			id="ace-settings-btn">
			<i class="icon-cog bigger-150"></i>
		</div>

		<div class="ace-settings-box" id="ace-settings-box">
			<div>
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="default" value="#438EB9">#438EB9</option>
						<option data-skin="skin-1" value="#222A2D">#222A2D</option>
						<option data-skin="skin-2" value="#C6487E">#C6487E</option>
						<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>

			<div>
				<input type="checkbox" class="ace ace-checkbox-2"
					id="ace-settings-navbar" /> <label class="lbl"
					for="ace-settings-navbar"> Fixed Navbar</label>
			</div>

			<div>
				<input type="checkbox" class="ace ace-checkbox-2"
					id="ace-settings-sidebar" /> <label class="lbl"
					for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>

			<div>
				<input type="checkbox" class="ace ace-checkbox-2"
					id="ace-settings-breadcrumbs" /> <label class="lbl"
					for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>

			<div>
				<input type="checkbox" class="ace ace-checkbox-2"
					id="ace-settings-rtl" /> <label class="lbl" for="ace-settings-rtl">
					Right To Left (rtl)</label>
			</div>

			<div>
				<input type="checkbox" class="ace ace-checkbox-2"
					id="ace-settings-add-container" /> <label class="lbl"
					for="ace-settings-add-container"> Inside <b>.container</b>
				</label>
			</div>
		</div>
	</div>
	<!-- /#ace-settings-container -->
	</div>
	<!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up"
		class="btn-scroll-up btn btn-sm btn-inverse"> <i
		class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

	<!--[if !IE]> -->

	<script type="text/javascript">
		window.jQuery
				|| document
						.write("<script src='/static/js/settingJS/jquery-2.0.3.min.js'>"
								+ "<"+"/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static/js/settingJS/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

	<script type="text/javascript">
		if ("ontouchend" in document)
			document
					.write("<script src='/static/js/settingJS/jquery.mobile.custom.min.js'>"
							+ "<"+"/script>");
	</script>
	<script src="/static/js/settingJS/bootstrap.min.js"></script>
	<script src="/static/js/settingJS/typeahead-bs2.min.js"></script>

	<!-- page specific plugin scripts -->

	<script src="/static/js/settingJS/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="/static/js/settingJS/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/js/settingJS/jquery.slimscroll.min.js"></script>

	<!-- ace scripts -->

	<script src="/static/js/settingJS/ace-elements.min.js"></script>
	<script src="/static/js/settingJS/ace.min.js"></script>

	<!-- inline scripts related to this page -->

	<script type="text/javascript">
		jQuery(function($) {
			$('.accordion').on('hide', function(e) {
				$(e.target).prev().children(0).addClass('collapsed');
			})
			$('.accordion').on('show', function(e) {
				$(e.target).prev().children(0).removeClass('collapsed');
			})
		});
	</script>
</body>
</html>

