<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title> {{page}}</title>

<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/static/css/settingCSS/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="/static/css/settingCSS/jquery.gritter.css" />
<link rel="stylesheet" href="/static/css/settingCSS/select2.css" />
<link rel="stylesheet" href="/static/css/settingCSS/bootstrap-editable.css" />

<!-- fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

<!-- basic styles -->

<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/settingCSS/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/settingCSS/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/settingCSS/ace.min.css" />
<link rel="stylesheet" href="/static/css/settingCSS/ace-rtl.min.css" />
<link rel="stylesheet" href="/static/css/settingCSS/ace-skins.min.css" />
<link rel="stylesheet" href="/static/css/settingCSS/style.css" />
<!--[if IE 7]>
          <link rel="stylesheet" href="/static/js/settingCSS/font-awesome-ie7.min.css" />
        <![endif]-->

<!-- page specific plugin styles -->


<!--[if lte IE 8]>
          <link rel="stylesheet" href="/static/js/settingCSS/ace-ie.min.css" />
        <![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script src="/static/js/settingJS/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
        <script src="/static/js/settingJS/html5shiv.js"></script>
        <script src="/static/js/settingJS/respond.min.js"></script>
        <![endif]-->
</head>