
 <!-- Posts 滚动显示最新加入同学在网站中多次引用，因此需要统一化管理-->
            <div class="posts margin-bottom-20">
                <div class="headline"><h3>欢迎新同学：</h3></div>
                 <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/static/img/student3.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
								<br />TA学习了{lesson课程}
							<br/>共有20000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student2.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
								<br />TA学习了{lesson课程}
								<br/>共有10000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student1.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
							<br />TA学习了{lesson课程}
							<br/>共有8000人在学习此课程</a></p> 
                        </dd>
                    </dl>
					<dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student3.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
								<br />TA学习了{lesson课程}
								<br/>共有19823人在学习此课程</a></p> 
                        </dd>
                    </dl>
            </div><!--/posts-->