
        <!-- Right Sidebar 右侧快捷栏在网站中多次引用，因此需要统一化管理-->
    	<div class="span3">
        	<!-- Search Bar搜索 -->
        	<div class="headline"><h3>搜索框：</h3></div>
            <div class="input-append  margin-bottom-20">
                <input type="text" class="span9" placeholder="输入查找信息....">
                <button type="button" class="btn-u">搜索</button>
            </div>
			
			<!-- Blog Tags标签云 -->
        	<div class="headline"><h3>标签云：</h3></div>
            <ul class="unstyled inline blog-tags">
            	<li><a href="#"><i class="icon-tags"></i> Business</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Music</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Internet</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Money</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Google</a></li>
            	<li><a href="#"><i class="icon-tags"></i> TV Shows</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Education</a></li>
            	<li><a href="#"><i class="icon-tags"></i> People</a></li>
            	<li><a href="#"><i class="icon-tags"></i> People</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Math</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Photos</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Electronics</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Apple</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Canada</a></li>
            </ul>

            <!-- Posts 滚动显示最新加入同学-->
            {%include "newstudent.html"%}
			<!-- Blog Latest Tweets最新评论 -->
            <div class="blog-twitter">
                <div class="headline"><h3>最新评论：</h3></div>
                <p><a href="">@htmlstream</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/sBav7dm</a> <span>5 hours ago</span></p>
                <p><a href="">@unify</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/f58Ddg4</a> <span>8 hours ago</span></p>
                <p><a href="">@veroeos</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/adVs9f</a> <span>17 hours ago</span></p>
                <p><a href="">@accusamus </a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/wf5Fs6</a> <span>23 hours ago</span></p>
                <p><a href="">@veroeoset</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/7EsffP</a> <span>1 day ago</span></p>
            </div>

        </div><!--/span3-->