{%extends 'layout.html'%}


{%block content%}
<div class="container">
    <div class="content-outter">
	<div class="row">


	{%include 'set_left.html'%}

	<div class='span6'>

	{%if form != "no" %}
	<form action="" method="POST" enctype="multipart/form-data">
  	{% csrf_token %}
 	 <ul>
            {{ form.as_table }}
         </ul>
          <input class = "btn" id="save" type="submit" value="保存" />
        </form>

	{%else%}
		你没有权限修改此用户信息
	{%endif%}

        </div>

     </div> <!--row-->
    </div> <!--content-outter-->
</div> <!--container-->

{%endblock%}




