{%extends "unifylayout.html"%}
{%block content%}

<!--=== Breadcrumbs登录页面 ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="color-green pull-left">登录</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">主页</a> <span class="divider">/</span></li>
            <li><a href="">页面</a> <span class="divider">/</span></li>
            <li class="active">登录</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <form class="log-page"method="post" action="">
			{%csrf_token%}
            <h3>登录:</h3>    
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-xlarge" type="text" placeholder="用户名"{{form.username}}>
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input class="input-xlarge" type="password" placeholder="密码" {{form.password}}>
            </div>
            <div class="controls form-inline">
                <label class="checkbox"><input type="checkbox" /> 记录登录状态</label>
                <button class="btn-u pull-right" type="submit">确认登录</button>
				<input type="hidden" name="next" value="{{ next }}" />
            </div>
            <hr />
            <h4>还没注册?out了吧~</h4>
            <p>点击 <a class="color-green" href="/register">注册</a>学习账户</p>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part登录页面结束 ===-->

{%endblock%}
