<!--======网站主页======-->

{% extends "unifylayout.html" %}
{% load url from future %}
<!--==动态加载title的方法-->
{% block title %}main page{% endblock title %}

{%block content%}
<!--=== Slider轮播页面===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>精简 &amp; 优雅的语言结构</i> <br /> <i>简洁的python语言结构</i> <br /> <i>快捷方便的django框架</i></h2>
            <p><i>网络蜘蛛爬虫数据分析</i> <br /> <i>cloud云计算大数据运维管理利器</i> <br /> <i>搜索引擎开发的最佳语言 </i></p>
            <div class="da-img"><img src="/static/img/django.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>精深严谨的Liunx硬件开发</i> <br /> <i>命令行shell编程的本源</i> <br /> <i>web服务器配置必备之选</i></h2>
            <p><i>linux服务器专家级开发</i> <br /> <i>linux嵌入式硬件内核开发</i><br /> <i>cloud云计算linux服务器虚拟化</i></p>
           <!--==  <div class="da-img span6">
            	<div class="span6">
					<iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
 				</div>
            </div> -->
            <div class="da-img"><img src="/static/img/linuxall.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML/CSS/bootstrap</i></h2>
            <p><i>使用python，django，github，bootstrap，simplejson....</i> <br /> <i>github，nginx，等web最新开发技术</i> <br /> <i>优雅开发美观新潮的网站 </i></p>
            <div class="da-img"><img src="/static/img/html5andcss3.png" alt="" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider轮播结束 ===-->

<!--=== Purchase Block 分段大字体===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>编程公园——精于编程，乐于分享</span>
            <p>本网站由jeapedu创建，致力于python开发学习视频，django开发学习视频，linux开发学习视频和linux嵌入式开发等视频集聚，用于交流学习。为广大学友提供MIT或TED等国外技术网站相关学习视频讲解分解以及代码分析，手把手带您学习编程</p>
        </div>
        <a href="/videos" class="btn-buy hover-effect">开始学习+</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block分段大字体结束 -->

<!--=== Content Part正文开始 ===-->
<div class="container">	

	<div class="row-fluid">
<!--==6个居中灰色点击后绿色的图标注释掉--
			<div class="row-fluid servive-block">
                <div class="span4">
                    <h4>精简优雅的python</h4>
                    <p><i class="icon-laptop"></i></p>
                    <p>python作为最流行的面向对象脚本语言，在linux系统，google，baidu搜索以及爬虫数据分享领域作用不可或缺，web开发爬虫分析的不二之选...</p>
                </div>
                <div class="span4">
                    <h4>HTML + CSS + bootstrap</h4>
                    <p><i class="icon-comments-alt"></i></p>
                    <p>使用uliweb，django，github，nginx，CSS等web开发使用最新技术进行敏捷开发，使得web网站开发更快捷方便简单，网站风格更新潮美观...</p>
                </div>
                <div class="span4">
                    <h4>linux嵌入式开发</h4>
                    <p><i class="icon-random"></i></p>
                    <p>具备扎实C语言基础的学生才能进入的学习领域，精深严谨的Liunx硬件开发，各种硬件设备kenerl内核开发，带您进入计算机开发领域最精深的领域...</p>
                </div>
            </div>

			<div class="row-fluid servive-block">
                <div class="span4">
                    <h4>cloud云计算测试与运维</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>集合Python自动化测试以及python大数据处理方面的知识，服务器如puppet集群分布设置等，为服务器维护和系统测试提供前沿技术指引</p>
                </div>
                <div class="span4">
                    <h4>django等框架开发</h4>
                    <p><i class=" icon-lightbulb"></i></p>
                    <p>集合Python进行web开发相关的django框架，uliweb框架，xadmin模块，modelview模块，registration模块，grappli插件模块等技术综合</p>
                </div>
                <div class="span4">
                    <h4>国外IT视频集粹</h4>
                    <p><i class="  icon-sitemap"></i></p>
                    <p>本着来源于互联网，服务与互联网的精神，我们搜集国外最新IT技术视频，为广大学友提供MIT和TED等网站学习视频讲解以及代码分析讲解。</p>
                </div>
        </div><!--/row-fluid-->        
    	<!--//End Our Services -->
    </div><!--/row-fluid6个居中灰色点击后绿色的图标结束--> 

	<!-- 六个左对齐图标个模块开始 -->
	<div class="row-fluid">
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-laptop"></i>
    			<div class="desc">
    				<h4>精简优雅的python</h4>
                    <p>python作为最流行的面向对象脚本语言，在linux系统，google，baidu搜索以及爬虫数据分享领域作用不可或缺，语言精简优雅，web开发爬虫分析的不二之选...</p>
    			</div>
    		</div>	
            <div class="service clearfix">
                <i class="icon-thumbs-up"></i>
                <div class="desc">
                    <h4>cloud云计算测试与运维</h4>
                    <p>集合Python自动化测试以及python大数据处理方面的知识，服务器如puppet集群分布设置等，为服务器维护和系统测试提供前沿技术指引.</p>
                </div>
            </div>  
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-cloud-upload"></i>
    			<div class="desc">
    				<h4>HTML + CSS + bootstrap</h4>
                    <p>使用uliweb，django，github，nginx，CSS等web开发使用最新技术进行敏捷开发，使得web网站开发更快捷方便简单，网站风格更新潮美观...</p>
    			</div>
    		</div>	
            <div class="service clearfix">
                <i class=" icon-lightbulb"></i>
                <div class="desc">
                    <h4>django等框架开发</h4>
                    <p>集合Python进行web开发相关的django框架，uliweb框架，xadmin模块，modelview模块，registration模块，grappli插件模块等技术综合</p>
                </div>
            </div>  
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-random"></i>
    			<div class="desc">
    				<h4>linux嵌入式开发</h4>
                    <p>具备扎实C语言基础的学生才能进入的学习领域，精深严谨的Liunx硬件开发，各种硬件设备kenerl内核开发，带您进入计算机开发领域最精深的领域...</p>
    			</div>
    		</div>	
            <div class="service clearfix">
                <i class="icon-sitemap"></i>
                <div class="desc">
                    <h4>国外IT视频集粹</h4>
                    <p>本着来源于互联网，服务与互联网的精神，我们搜集国外最新IT技术视频，为广大学友提供MIT和TED等网站学习视频讲解以及代码分析讲解。</p>
                </div>
            </div>  
    	</div>	
		    
	</div><!--/row-fluid-->
	<!-- //End 6个左对齐图标结束 -->

	<!-- 最新视频 -->
	<div class="headline"><h3>最新视频:</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/img/2.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/videos">点击观看+</a>					
                </div>
                <h4><a class="hover-effect" href="/lesson">django install开发环境安装</a></h4>
                <p>本课程在于教授如何在不同OS开发环境安装django以及版本注意事项等</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/img/3.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/videos">点击观看+</a>					
                </div>
                <h4><a class="hover-effect" href="/lesson">django auth模块使用</a></h4>
                <p>本课程在于介绍django 自带模块auth用户验证注册登录等方法如何使用和注意事项.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/img/9.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/videos">点击观看+</a>					
                </div>
                <h4><a class="hover-effect" href="/lesson">django urls和views讲解</a></h4>
                <p>本课程在于介绍django urls和views如何使用和注意事项</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="/static/img/10.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="/videos">点击观看+</a>					
                </div>
                <h4><a class="hover-effect" href="/lesson">使用django内置admin模块</a></h4>
                <p>本视频在于介绍django内置admin模块并教授相关的使用方法和注意事项</p>
            </div>
        </li>
    </ul>
	<!-- //End 最新视频 -->
    
	<!-- 左侧说明信息 -->
	<div class="row-fluid margin-bottom-20">
		<div class="span8">
			<div class="headline"><h3>欢迎加入编程公园：</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="/static/img/team-3.jpg" alt="" />编程公园致力于python开发，django开发，linux开发和linux嵌入式开发等视频集聚，用于交流学习。为广大学友提供MIT或TED等国外技术网站学习视频讲解以及代码分析讲解</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> linux基础课程，linux嵌入式硬件开发，liunux内核驱动开发</li>
            	<li><i class="icon-ok color-green"></i> web网络通讯，html，css，bootstrap，github，nginx与服务器运维等</li>
            	<li><i class="icon-ok color-green"></i> python语言，weibo，自动化测试，网络爬虫，云计算大数据分析等</li>
            	<li><i class="icon-ok color-green"></i> django开发框架，uliweb框架，xadmin模块，grapplli模块等</li>
            </ul><br>

            <blockquote class="hero-unify">
                <p>Time the study pain is temporary, has not learned the pain is life-long.</p>
                <small>学习时的苦痛是暂时的，而未学到的痛苦是终身的。</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- 课程分类-->
        <div class="span4">
			<div class="headline"><h3>课程分类：</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/static/img/google_pythonbig.png" alt="">
                    <div class="carousel-caption">
                      <p>python基础以及django项目开发课程</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/static/img/linuxbig.png" alt="">
                    <div class="carousel-caption">
                      <p>linux基础以及linux嵌入式开发课程</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/static/img/webdesignbig.png" alt="">
                    <div class="carousel-caption">
                      <p>web网站开发与web测试维护综合课程</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End 课程分类 -->

	<!-- 友情链接-->
	<div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>友情链接：</h3></div>	
		<ul class="slides">
			<li>
                <a href="#">
                    <img src="/static/img/hp_grey.png" alt="" /> 
                    <img src="/static/img/hp.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/igneus_grey.png" alt="" /> 
                    <img src="static/img/igneus.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/vadafone_grey.png" alt="" /> 
                    <img src="static/img/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/walmart_grey.png" alt="" /> 
                    <img src="static/img/walmart.png" class="color-img" alt="" />
                </a>
            </li>
			
			<li>
                <a href="#">
                    <img src="static/img/natural_grey.png" alt="" /> 
                    <img src="static/img/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/aztec_grey.png" alt="" /> 
                    <img src="static/img/aztec.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="/static/img/gamescast_grey.png" alt="" /> 
                    <img src="/static/img/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="/static/img/cisco_grey.png" alt="" /> 
                    <img src="/static/img/cisco.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/everyday_grey.png" alt="" /> 
                    <img src="static/img/everyday.png" class="color-img" alt="" />
                </a>
            </li>
			
			<li>
                <a href="#">
                    <img src="static/img/spinworkx_grey.png" alt="" /> 
                    <img src="static/img/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
		
			<li>
                <a href="#">
                    <img src="static/img/natural_grey.png" alt="" /> 
                    <img src="static/img/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/gamescast_grey.png" alt="" /> 
                    <img src="static/img/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/everyday_grey.png" alt="" /> 
                    <img src="static/img/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="static/img/cocacola_grey.png" alt="" /> 
                    <img src="static/img/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="static/img/spinworkx_grey.png" alt="" /> 
                    <img src="static/img/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
                <li>
                <a href="#">
                    <img src="static/img/shell_grey.png" alt="" /> 
                    <img src="static/img/shell.png" class="color-img" alt="" />
                </a>
            </li>
		</ul>
	</div><!--/flexslider endlinks-->
	<!-- //End 最新视频 -->
</div><!--/container-->		
<!-- body正文完结End Content Part -->
{%endblock%}
