<!--======前台展示测试页面======-->


{%extends "unifylayout.html"%}
<!--==动态加载title的方法-->
{% block title %}test page{% endblock title %}

{%block content%}
<!--content -->

<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-30">
	<div class="container">
        <h1 class="pull-left">Thumbnails</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Features</a> <span class="divider">/</span></li>
            <li class="active">Thumbnails</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">

    	<!-- Unify Thumbnail + readmore-->
        <div class="headline"><h3>Thumbnail + readmore</h3></div>
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"title="点击查看详情"><img src="/static/img/9.jpg" alt="" /></div>
                        <a class="btn-more hover-effect" href="#">学习更多 +</a>					
                    </div>
                    <h3><a href="#">Work1</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"title="点击查看详情"><img src="/static/img/3.jpg" alt="" /></div>
                        <a class="btn-more hover-effect" href="#">学习更多 +</a>					
                    </div>
                    <h3><a href="#"> Work2 </a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden"  title="点击查看详情"><img src="/static/img/4.jpg" alt="" /></div>
                        <a class="btn-more hover-effect" href="#">学习更多 +</a>					
                    </div>
                    <h3><a href="#"> Work3 </a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style  thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden" title="点击查看详情"><img src="/static/img/5.jpg" alt="" /></div>
                        <a class="btn-more hover-effect" href="#">学习更多 +</a>					
                    </div>
                    <h3><a href="#"> Work4 </a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </li>
        </ul><!--/thumbnails+ readmore-->


    	<!-- Unify Thumbnail +zoomin-->
        <div class="headline"><h3>Thumbnail+zoomin</h3></div>
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail-style">
                    <a 	class="fancybox-button zoomer" data-rel="fancybox-button" title="点击查看详情" href="/static/img/9.jpg">
                        <div class="overlay-zoom">	
                            <img src="/static/img/9.jpg" alt="" />
                            <div class="zoom-icon"></div>					
                        </div>												
                    </a>
                    <h3><a href="#">1 Work</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style">
                    <a 	class="fancybox-button zoomer" data-rel="fancybox-button" title="点击查看详情" href="/static/img/3.jpg">
                        <div class="overlay-zoom">	
                            <img src="/static/img/3.jpg" alt="" />
                            <div class="zoom-icon"></div>					
                        </div>												
                    </a>
                    <h3><a href="#">2 Work</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style">
                    <a 	class="fancybox-button zoomer" data-rel="fancybox-button" title="点击查看详情" href="/static/img/2.jpg">
                        <div class="overlay-zoom">	
                            <img src="/static/img/2.jpg" alt="" />
                            <div class="zoom-icon"></div>					
                        </div>												
                    </a>
                    <h3><a href="#">3 Work</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail-style">
                    <a 	class="fancybox-button zoomer" data-rel="fancybox-button" title="点击查看详情" href="/static/img/4.jpg">
                        <div class="overlay-zoom">	
                            <img src="/static/img/4.jpg" alt="" />
                            <div class="zoom-icon"></div>					
                        </div>												
                    </a>
                    <h3><a href="#">4 Work</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
                </div>
            </li>
        </ul><!--/thumbnails+zoom in end-->

    </div>
</div>
{%endblock%}