<!--======blog留言评论页面======-->



{% extends 'unifylayout.html' %}
<!--==动态加载title的方法-->
{% block title %}blog page{% endblock title %}

{% block content %}

<!--=== Breadcrumbs快捷栏界面表头 ===-->
<div class="breadcrumbs margin-bottom-20">
	<div class="container">
        <h1 class="color-green pull-left">{博客内容}</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">主页</a> <span class="divider">/</span></li>
            <li><a href="/blog">博客</a> <span class="divider">/</span></li>
            <li class="active">{博客内容}<</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part正文部分 ===-->
<div class="container">		
	<div class="row-fluid blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="span9">
        	<div class="blog margin-bottom-30">
            	<h3>{具体文章评论：}</h3>
            	<ul class="unstyled inline blog-info">
                	<li><i class="icon-calendar"></i> February 02, 2013</li>
                	<li><i class="icon-pencil"></i> Diana Anderson</li>
                	<li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                </ul>
            	<ul class="unstyled inline blog-tags">
                    <li>
                        <i class="icon-tags"></i> 
                        <a href="#">Technology</a> 
                        <a href="#">Education</a>
                        <a href="#">Internet</a>
                        <a href="#">Media</a>
                    </li>
                </ul>
                <div class="blog-img"><img src="/static/img/blog2.jpg" alt="" /></div>
                <p>At vero eos et accusamus et iusto odio dignissibigmos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                <blockquote class="hero">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.</p>
                    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                </blockquote>

                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
            </div><!--/blog-->

			<hr />

            <!-- Media -->
            <div class="media">
            	<h3 class="color-green">最新评论：</h3>
                <a class="pull-left" href="#">
                    <img class="media-object" src="/static/img/student2.jpg" alt="" />
                </a>
                <div class="media-body">
                <h4 class="media-heading">Media heading <span>5 hours ago / <a href="#">Reply</a></span></h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <hr />

                    <!-- Nested media object -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/img/student1.jpg" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading <span>17 hours ago / <a href="#">Reply</a></span></h4>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div><!--/media-->

                    <hr />

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/img/student1.jpg" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading <span>2 days ago / <a href="#">Reply</a></span></h4>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div><!--/media-->
                </div>
            </div><!--/media-->

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/static/img/student3.jpg" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading <span>July 5,2013 / <a href="#">Reply</a></span></h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
            </div><!--/media-->

            <hr />

            <!-- Leave a Comment留言 -->
            <div class="post-comment">
            	<h3 class="color-green">评论留言：</h3>
				<p>（试试语言留言强大的功能把~）</p>
                <form>
                    <label>标题：</label>
                    <input type="text" class="span7" />
                    <label>留言：</label>
                    <textarea rows="8" class="span10"></textarea>
                    <p><button type="submit" class="btn-u">发表评论</button></p>
                </form>
            </div><!--/post-comment-->
        </div><!--/span9-->

        <!-- Right Sidebar 右侧下拉栏-->
    	<div class="span3">
        		<!-- Blog Tags 右侧标签云-->
        	<div class="headline"><h3>标签云：</h3></div>
            <ul class="unstyled inline blog-tags">
            	<li><a href="#"><i class="icon-tags"></i> Business</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Music</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Internet</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Education</a></li>
            	<li><a href="#"><i class="icon-tags"></i> People</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Math</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Photos</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Electronics</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Apple</a></li>
            	<li><a href="#"><i class="icon-tags"></i> Canada</a></li>
            </ul>
            <!-- Posts 滚动显示最新加入同学-->
            <div class="posts margin-bottom-20">
                <div class="headline"><h3>欢迎新同学：</h3></div>
                 <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/static/img/student3.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}</a>分钟前加入
                                <br />TA学习了{lesson课程}
                            <br/>共有20000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student2.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
                                <br />TA学习了{lesson课程}
                                <br/>共有10000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student1.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
                            <br />TA学习了{lesson课程}
                            <br/>共有8000人在学习此课程</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/static/img/student3.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">{student}{logintime}分钟前加入
                                <br />TA学习了{lesson课程}
                                <br/>共有19823人在学习此课程</a></p> 
                        </dd>
                    </dl>
            </div><!--/posts-->
        	<!-- Blog Latest Tweets最新评论 -->
            <div class="blog-twitter">
                <div class="headline"><h3>最新评论：</h3></div>
                <p><a href="">@htmlstream</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/sBav7dm</a> <span>5 hours ago</span></p>
                <p><a href="">@unify</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/f58Ddg4</a> <span>8 hours ago</span></p>
                <p><a href="">@veroeos</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/adVs9f</a> <span>17 hours ago</span></p>
                <p><a href="">@accusamus </a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/wf5Fs6</a> <span>23 hours ago</span></p>
                <p><a href="">@veroeoset</a> At vero eos et accusamus et iusto odio dignissimos. <a href="#">http://t.co/7EsffP</a> <span>1 day ago</span></p>
            </div>
        </div><!--/span3-->
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}
